<footer>
  <div class="container footer-rw">
    <div class="col-xs-3 col-md-3">
      <div class="item" routerLink="/home" routerLinkActive="active-link" #home="routerLinkActive">
        <img src="{{home.isActive ? '../assets/images/home_active.svg' : '../assets/images/home_inactive.svg'}}" alt="home">
        <span class="caption">Home</span>
      </div>
    </div>
    <div class="col-xs-3 col-md-3">
      <div class="item" routerLink="/portfolio" routerLinkActive="active-link" #portfolio="routerLinkActive">
        <img src="{{portfolio.isActive ? '../assets/images/portfolio_active.svg' : '../assets/images/portfolio_inactive.svg'}}"
          alt="portfolio">
        <span class="caption">Portfolio</span>
      </div>
    </div>
    <div class="col-xs-3 col-md-3">
      <div class="item" routerLink="/order-history" routerLinkActive="active-link" #orders="routerLinkActive">
        <img src="{{orders.isActive ? '../assets/images/orders_active.svg' : '../assets/images/orders_inactive.svg'}}"
          alt="orders">
        <span class="caption">Orders</span>
      </div>
    </div>
    <div class="col-xs-3 col-md-3">
      <div class="item" routerLink="/profile" routerLinkActive="active-link" #account="routerLinkActive">
        <img src="{{account.isActive ? '../assets/images/profile_active.svg' : '../assets/images/profile_inactive.svg'}}"
          alt="account">
        <span class="caption">Account</span>
      </div>
    </div>
  </div>
</footer>
