<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> Account Details </h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-inner-sec full">
    <form class="main-form-sec-group greay-from-border account-details" [formGroup]="accountdetailsForm">
      <div class="form-group full">
        <label for="name" class="label-light">Name (As on Pan card)</label>
        <input  type="text" autocomplete="off" class="form-control" id="name" formControlName="name" [(ngModel)]="username" readonly>
      </div>
      <div class="form-group full account-details-dob">
        <label for="dob" class="label-light">Date of Birth (YY/MM/DD)</label>
        <input  type="text" autocomplete="off" class="form-control" id="dob" formControlName="dob" [(ngModel)]="dob" readonly>
      </div>
      <div class="form-group full">
        <label for="mobile-number" class="label-light">Mobile Number</label>
        <input  type="text" autocomplete="off" class="form-control" id="mobile-number" formControlName="mobileno" [(ngModel)]="mobile" maxlength="10" readonly>
      </div>
      <div class="form-group full">
        <label for="email" class="label-light">Email ID</label>
        <input type="email" class="form-control" id="email" formControlName="email" [(ngModel)]="email" readonly>
      </div>
      <div class="form-group full">
        <label for="pancard" class="label-light">Pan Card No.</label>
        <input  type="text" autocomplete="off" class="form-control" id="pancard" formControlName="pancard" [(ngModel)]="pan" readonly>
      </div>
      <div class="form-group acc-detalis-gender full">
        <label for="gender" class="text-dark">Gender</label>
        <div class="radio-sec full">
          <div class="mobile-no-sec">
            <label class="radio-inline text-dark">
              <input type="radio" name="gender" formControlName="gender" value="M" [(ngModel)]="gender" disabled="true">
              <span class="checkmark"></span>
              Male
            </label>
            <label class="radio-inline text-dark">
              <input type="radio" name="gender" formControlName="gender" value="F"  [(ngModel)]="gender" disabled="true">
              <span class="checkmark"></span>
              Female
            </label>
            <label class="radio-inline text-dark">
              <input type="radio" name="gender" formControlName="gender" value="O"  [(ngModel)]="gender" disabled="true">
              <span class="checkmark"></span>
              Others
            </label>
          </div>
        </div>
      </div>
      <div class="nominee-info-main-sec nominee-acc-details full" *ngIf="nomineeSec">
        <div class="nominee-info-main-title-sec">
          <div class="nominee-info-title-row">
            <span class="nominee-title-acc">Nominee Information</span>
            <span class="nominee-checked">
              <label class="chekbox-container">
                <input type="checkbox" id="nomineeCheck" checked="checked" disabled>
                <span class="checkmark"></span>
              </label>
            </span>
          </div>
        </div>
        <div class="full">
            <div  class="form-group full">
                <label for="nomineeName" class="label-light">Nominee Name</label>
                <input type="text" autocomplete="off"class="form-control" id="nomineeName" formControlName="nomineeName" [value]="n_name" readonly>
            </div>
            <div class="form-group full">
              <label for="relation" class="label-light">Relation</label>
              <input  type="text" autocomplete="off"class="form-control" id="relationName" formControlName="relationName" [value]="n_rel" readonly>
            </div>
        </div>
      </div>
    </form>
  </div>
</div>
