<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span>Bank Details</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-inner-sec bank-mandate-details-sec full"  *ngFor="let bank of viewbankdetails">
    <div class="bank-view-title">
      <span class="bank-view-text">{{bank.name}}</span>
      <span></span>
    </div>
    <div class="col-xs-12 bank-view-detail-sec">
      <div class="col-xs-6 bank-view-text">Account No</div>
      <div class="col-xs-6 text-dark">{{bank.account_number}}</div>
    </div>
    <div class="col-xs-12 bank-view-detail-sec">
      <div class="col-xs-6 bank-view-text">IFSC Code</div>
      <div class="col-xs-6 text-dark">{{bank.ifsc}}</div>
    </div>
    <div class="col-xs-12 bank-view-detail-sec">
      <div class="col-xs-6 bank-view-text">Branch</div>
      <div class="col-xs-6 text-dark">{{bank.branch}}</div>
    </div>
    <div class="col-xs-12 bank-view-detail-sec">
      <div class="col-xs-6 bank-view-text">Branch Code</div>
      <div class="col-xs-6 text-dark">{{bank.code}}</div>
    </div>
    <div class="col-xs-12 bank-view-detail-sec">
      <div class="col-xs-6 bank-view-text">Address</div>
      <div class="col-xs-6 text-dark">{{bank.address}}</div>
    </div>

    <div class="form-btn-sec start-in-sec full">
      <div class="form-group full remove-bank-btn" *ngIf="remBtn">
        <button type="submit" name="button" value="submit" class="btn green-btn"
          (click)="removeBankModal(content)">REMOVE BANK ACCOUNT</button>
          <ng-template #content let-d="dismiss" let-c="close">
            <div class="remove-bank">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="text-center remove-bank-img"><img src="../assets/images/remove-bank-acc.svg" alt="remove-bank-account">
              </div>
              <p class="text-center remove-bank-text">Are you sure you want to REMOVE the Bank account ?</p>
            </div>
            <div class="modal-footer">
              <div class="col-xs-6 text-center"><button type="button" class="btn no-btn" (click)="d('Close click')">No</button>
              </div>
              <div class="col-xs-6 text-center"><button type="button" class="btn yes-btn" (click)="c('Close click');removeBank();">Yes</button>
              </div>
            </div>
          </div>
          </ng-template>
      </div>
      <div class="form-group full" *ngIf='marked'>
        <button type="submit" name="button" value="submit" class="btn green-btn">VERIFY ONE-TIME MANDATE</button>
      </div>
    </div>
  </div>
</div>

<!-- loader html -->
<div class="lds-css ng-scope"  *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
