<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow"  (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span>Help & Support</h3>
    </div>
  </div>
</div>

<div class="container help-sec">
  <div class="page-inner-sec full">
    <div class="help-account-rw full" *ngFor="let question of support" (click)="popup.instance.show()">
      <div class="help-rw">
        <span>{{question.title}}</span>
        <mbsc-popup [options]="settings" #popup="mobiscroll">
          <div class="mbsc-padding">
            <div class="popup-title">{{question.popuptitle}}</div>
            <p class="popup-quesn">{{question.quesn1}}</p>
            <p class="popup-answer">{{question.ans1}}</p>
            <p class="popup-quesn">{{question.quesn2}}</p>
            <p class="popup-answer">{{question.ans2}}</p>
            <p class="popup-quesn">{{question.quesn3}}</p>
            <p class="popup-answer">{{question.ans3}}</p>
            <!--<div class="text-center">
            <p class="help-feedback">Was this helpful ?</p>
            <img src="assets/images/thumbs-up.png" class="feedback-icon" alt="thumbs-up"><img src="assets/images/thumbs-down.png" class="feedback-icon" alt="thumbs-down">
            </div>-->
          </div>
        </mbsc-popup>
      </div>
    </div>
  </div>
</div>
