<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span>Reports</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-inner-sec full">
    <div class="mandate-head full">
      <div class="mandate-rw">
        <span class="mandate-bank">Portfolio Statement</span>
        <span class="mandate-chevron pull-right"><i class="fa fa-angle-right"></i></span>
      </div>
    </div>
    <div class="mandate-head full">
      <div class="mandate-rw">
        <span class="mandate-bank">Transaction Statement</span>
        <span class="mandate-chevron pull-right"><i class="fa fa-angle-right"></i></span>
      </div>
    </div>
  </div>
</div>
