<div class="mob-div">
  <div class="container content-padd errordiv">
      <div class="row">
          <div class="center-img">
              <img src="assets/images/error.png" class="" alt="failed">
          </div>
      </div>
      <div class="row">
          <p class="text-center add-top-margin-2 error-txt white-txt">
              Sorry, the page you are looking for could not be found.
          </p>
      </div>
      <div class="sign-btn-sec">
          <a class="btn green-btn" [routerLink]="['/home']">GO TO HOMEPAGE</a>
      </div>
  </div>
</div>