<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow"  (click)="this.location.back();"><fa class="chevron" name="chevron-left"></fa></span> Bank Details</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-inner-sec full">
      <div *ngIf="otherError" class="alert alert-danger" style="display: block">
          {{errorMessage}}
        </div>
    <div class="main-content-sec full">
      <form class="bank-details-form  main-form-sec-group greay-from-border" [formGroup]="bankDetailsForm" (ngSubmit)="saveBankdetails()">
        <div class="form-group" [ngClass]="{'has-error': submitted  && f.account_number.errors}">
          <div class="first-bank-account full">
            <input  type="tel" autocomplete="off" class="form-control passtxt" id="bank-acc-no" formControlName="account_number"  placeholder="Bank Account Number" maxlength="18" #bankdetailsRef numbersOnly  pattern="[0-9]*">
            <span class="show-password-icon" (click)="showOrHideBankNumber()"><i class="fa fa-eye" aria-hidden="true" #showhideRef></i></span>
            <span class="help-block" *ngIf="submitted && f.account_number.errors">
                <span *ngIf="f.account_number.errors.required">Bank Account Number is required</span>
                <span *ngIf="f.account_number.errors.minlength">Bank Account Number must be atleast of 9 characters</span>
                <span *ngIf="f.account_number.errors.maxlength">Bank Account Number at least 18 characters</span>
                <!-- <span *ngIf="f.bankdetailsnumber.errors.pattern">Enter Valid Bank Account Number</span>-->
            </span>
            </div>
        </div>


        <div class="form-group" [ngClass]="{'has-error': submitted  && f.confBanknumber.errors}">
            <input type="tel" autocomplete="off" class="form-control" id="confirm-bank-acc-no" formControlName="confBanknumber" placeholder="Confirm Bank Account Number"  maxlength="18" numbersOnly  pattern="[0-9]*" onCut="return false" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"/>
            <span class="help-block" *ngIf="submitted && f.confBanknumber.errors">
                <span *ngIf="f.confBanknumber.errors.required">Bank Account Number is required</span>
                <!-- <span *ngIf="f.confBanknumber.errors.pattern">Enter Valid Bank Account Number</span> -->
                <span *ngIf="f.confBanknumber.errors.mustMatch">Bank Account Number must match</span>
                <span *ngIf="f.confBanknumber.errors.minlength">Bank Account Number must be atleast of 9 characters</span>
                <span *ngIf="f.confBanknumber.errors.maxlength">Bank Account Number at least 18 characters</span>
            </span>
        </div>

        <div class="form-group">
        <label>Bank Account Type</label>
        <div class="radio-sec full">
          <div class="form-group mobile-no-sec" [ngClass]="{'has-error': submitted  && f.type.errors}">
          <label class="radio-inline">
            <input type="radio" name="type" formControlName="type" value="SB">
            <span class="checkmark"></span>
            Saving A/C
          </label>
          <label class="radio-inline">
            <input type="radio" name="type" formControlName="type" value="CB">
            <span class="checkmark"></span>
            Current A/C
          </label>

          <span class="help-block" *ngIf="submitted && f.type.errors">
              <span *ngIf="f.type.errors.required">Please Select Bank Account Type</span>
          </span>
          </div>
        </div>
        </div>
        <!-- <div class="full bank-details-note text-center">
          <p>We Support savings accounts only</p>
        </div> -->
        
        
        <!--<div class="otm-upload-sec full">
          <h4>Please upload your cancelled cheque</h4>
        <div class="otm-upload-main-sec full">
      <div class="hwt-sec-inner full">
        <div class="hr"></div>
      </div>
      <div class="hwt-sec-inner-text">
         <div>View the sample copy of the cancelled cheque</div>
        <span class="otm-green-text" (click)="cancelCheque(content)">VIEW</span>
        <ng-template #content let-d="dismiss" let-c="close">
          <div class="mandate-example">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <p class="mandate-upload-eg-text">Cancelled cheque sample copy</p>
              <p class="mandate-upload-eg-para">Please ensure the image is uploaded in <b>horizontal orientation</b>
                and is croppped along the edges </p>
              <div class="col-xs-12 mandate-imgeg-sec">
                <div class="col-xs-12">
                  <p><img src="../assets/images/cancel-check.jfif" width="100%" alt="Cancel check format"></p>
                  <span class="alt-dark-txt">Correct Format</span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div><button type="button" class="btn yes-btn" (click)="d('Close click')">OK</button>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="upload-snapshot full"  *ngIf="showGallary">
        <img [src]="imageUrl" style="width: 250px;"/>
      </div>

      <div class="full text-center otm-upload-btn">
        <button type="button" name="button" value="submit" class="btn green-btn add-top-margin mt-5"
          (click)="openUpload(upload)">Upload</button>
          <span class="has-error" *ngIf="submitted && !showGallary">
            <span class="help-block mt-5">Please Upload Cancelled Cheque</span>
        </span>
        <div *ngIf="ocrError" class="alert alert-danger" style="display: block">
          {{ocrErrormsg}}
        </div>
        <ng-template #upload let-d="dismiss" let-c="close">
          <div class="upload-otm-mandate">
            <div class="modal-header">
              <span class="select-opt">Select Image</span>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="otm-up-rw">
                <button type="button" name="button" value="Gallery" class="btn green-btn gallery-btn"><input #image
                    type="file" accept="image/*" capture="environment" (change)="processFile($event.target.files)"><span
                    class="gal-img-logo"><img src="../assets/images/camera.png" /></span> <span class="btn-title">Take
                    Photo</span></button>
              </div>
              <div class="otm-up-rw">
                <button type="button" name="button" value="Gallery" class="btn green-btn gallery-btn"><input #image
                    type="file" accept="image/*" (change)="processFile($event.target.files)"><span
                    class="gal-img-logo"><img src="../assets/images/gallery.png" /></span> <span
                    class="btn-title">Choose from Library</span></button>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>-->

        <div class="form-group form-btn-sec start-in-sec full">
          <!-- <button type="submit" name="button" value="submit" class="btn green-btn">Next</button> -->
          <!-- <button type="submit" value="submit" class="btn green-btn" [disabled]="!showGallary" (click)="submitMandate(); openMandateUpload(mandateUpload)"  *ngIf = "this.mandate_flag != 3">Next</button> -->
          <button type="submit" value="submit" class="btn green-btn">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--loader html-->
<div class="lds-css ng-scope"  *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
