<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow"  (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> Bank Account Details </h3>
    </div>
  </div>
</div>

<div class="container otm-container check-upload">
  <div class="otm-head-sec full">
    <div class="otm-bank-img">
      <img src="../assets/images/icici-logo.png" alt="icici-logo">
    </div>
    <div class="otm-bank-and-acc">
      <span class="otm-bank-name">{{bankdetails.bank_name}}</span>
      <span class="otm-bank-acc-no">A/C: {{bankdetails.account_number}}</span>
    </div>
  </div>

  <div class="otm-upload-sec full">
    <h4>Please upload your cancelled cheque</h4>
    <p class="mt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <div class="otm-upload-main-sec full">
      <div class="hwt-sec-inner full">
        <div class="hr"></div>
      </div>
      <div class="hwt-sec-inner-text">
         <div>View the sample copy of the cancelled cheque</div>
        <span class="otm-green-text" (click)="openVerticallyCentered(content)">VIEW</span>
        <ng-template #content let-d="dismiss" let-c="close">
          <div class="mandate-example">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <p class="mandate-upload-eg-text">Cancelled cheque sample copy</p>
              <p class="mandate-upload-eg-para">Please ensure the image is uploaded in <b>horizontal orientation</b>
                and is croppped along the edges </p>
              <div class="col-xs-12 mandate-imgeg-sec">
                <div class="col-xs-12">
                  <p><img src="../assets/images/cancel-check.jfif" width="100%" alt="Cancel check format"></p>
                  <span class="alt-dark-txt">Correct Format</span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div><button type="button" class="btn yes-btn" (click)="d('Close click')">OK</button>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="upload-snapshot full"  *ngIf="showGallary">
        <img [src]="imageUrl" style="width: 250px;"/>
      </div>

      <div class="full text-center otm-upload-btn" *ngIf = "this.mandate_flag != 3">
        <button type="button" name="button" value="submit" class="btn green-btn top"
          (click)="openUpload(upload)">Upload</button>
        <ng-template #upload let-d="dismiss" let-c="close">
          <div class="upload-otm-mandate">
            <div class="modal-header">
              <span class="select-opt">Select Image</span>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="otm-up-rw">
                <button type="button" name="button" value="Gallery" class="btn green-btn gallery-btn"><input #image
                    type="file" accept="image/*" capture="environment" (change)="processFile($event.target.files)"><span
                    class="gal-img-logo"><img src="../assets/images/camera.png" /></span> <span class="btn-title">Take
                    Photo</span></button>
              </div>
              <div class="otm-up-rw">
                <button type="button" name="button" value="Gallery" class="btn green-btn gallery-btn"><input #image
                    type="file" accept="image/*" (change)="processFile($event.target.files)"><span
                    class="gal-img-logo"><img src="../assets/images/gallery.png" /></span> <span
                    class="btn-title">Choose from Library</span></button>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="bottom-fix-btn full">
        <button class="btn green-btn" [disabled]="!showGallary" (click)="submitMandate(); openMandateUpload(mandateUpload)"  *ngIf = "this.mandate_flag != 3">Submit</button>

      <ng-template #mandateUpload let-d="dismiss" let-c="close">
        <div class="upload-otm-mandate">
          <div class="modal-body">
           <div class="submit-upload-sec">
               <img src="../assets/images/success.png" alt="success">
                <p class="success-greeting">Great!!</p>
                <p>Your Auto-Pay request has been <span class="upload-dark-txt">submitted</span></p>
                <p>We will keep you informed via <span class="upload-dark-txt">Email & SMS</span></p>
                  <!-- <div class="otm-bank-img">
                    <img src="../assets/images/icici-logo.png" alt="icici-logo">
                  </div> -->
                  <!-- <div class="otm-bank-and-acc">
                    <span class="otm-bank-name">{{bankdetails.bank_name}}</span>
                    <span class="otm-bank-acc-no">A/C: {{bankdetails.account_number}}</span>
                  </div> -->
                  <p>Your Auto-Pay will get registered in 15-30 days for approval from your bank. Please bear with us.</p>
           </div>
          </div>
          <div class="modal-footer">
            <div class="bottom-fix-btn full">
            <button type="button" class="btn green-btn" (click)="nextButton();">Next</button>
          </div>
          </div>
        </div>
      </ng-template>

    </div>
<!--loader html-->
<div class="lds-css ng-scope"  *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>