<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="congo-sec full text-center">
        <img src="assets/images/congratulations.svg" alt="congo-img"/>
        <div class="congo-sec-para full">
          <h4>Congratulations!!</h4>
          <p>Your Account creation is sucessful.</p>
          <p>Start Investing now</p>
        </div>
        <div class="start-in-sec full">
          <button class="btn green-btn"  [routerLink]="['/home']">Start Investing</button>
        </div>
      </div>
    </div>
  </div>
</div>
