.main-form-sec-group .form-group .form-control.ng-valid{color: #000;}
.main-form-sec-group .form-group .form-control{color: #9f9b9b;} 
.facta-details-sec{padding-top: 15px;}
.main-form-sec-group .form-group.has-error{margin-bottom: 0;}