<!--top title html-->
<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> IFSC Code</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-inner-sec full">
    <div *ngIf="otherError" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <!--page title-->
    <div class="page-title full" [ngClass]="{'hide': showBankSearch}">
      <h4>Enter your bank’s IFSC Code</h4>
    </div>
    <div class="main-content-sec full">
      <form class="ifsc-code-form greay-from-border main-form-sec-group" [formGroup]="ifsccodeForm">
        <div class="hide-ifsc-sec" [ngClass]="{'hide': showBankSearch}">
          <div class="form-group ifsc-no-sec" [ngClass]="{'has-error': submitted  && f.ifsc.errors}">
            <input type="text" autocomplete="off" class="form-control" id="ifsc-number" formControlName="ifsc"
              placeholder="Eg.HDFC000002" #ifscnumberRef (keyup)="ifscChanged()" >
            <span class="help-block" *ngIf="submitted && f.ifsc.errors">
              <span *ngIf="f.ifsc.errors.required">IFSC Code is required</span>
              <span *ngIf="f.ifsc.errors.pattern">Enter Valid IFSC Code</span>
            </span>
            <span class="help-block" *ngIf="f.ifsc.errors?.serverError">{{ f.ifsc.errors?.serverError }}</span>
          </div>
        </div>

        <div class="form-group form-btn-sec start-in-sec full">
          <button type="click" name="button" *ngIf="!conShow" class="btn green-btn"
            (click)="confirmIfsc()" >Search</button>
          <button type="click" name="button" value="submit" *ngIf="conShow" class="btn green-btn" (click)="saveIFSC()">Confirm</button>
        </div>
      </form>

      <div class="serach-btn-sec full" [ngClass]="{'hide': showBankSearch}">
        <span class="serach-btn" (click)="showOrHideBankName()">Search for IFSC</span>
      </div>
      <div class="serach-ifsc-bank-sec full serach-hide" #serachbankRef>
        <!--page title-->
        <div class="page-title full">
          <h4>Search Ifsc Code</h4>
          <span class="close_span" (click)="showOrHideBankName()"><span aria-hidden="true">&times;</span></span>
        </div>
        <div class="main-form-sec-group full">
          <form [formGroup]="ifsearchForm">
            <div class="search-bank-list-sec full">
              <div class="form-group ifsc-no-sec">
                <!-- <input [id]="inputFormatBandListValue" formControlName="bankName" type="text" class="form-control"
                  [ngbTypeahead]="searchBank" (change)="bankChanged()" #instance="ngbTypeahead"
                  placeholder="Select your bank from list" #serachbanknameRef
                  [resultFormatter]="resultFormatBandListValue" [inputFormatter]="inputFormatBandListValue"
                  [(ngModel)]="model" />
                <span style="visibility: hidden; height:0px; display: none;">{{model | json}}</span> -->

                <input [(ngModel)]="selectedValue"  formControlName="bankName" [typeahead]="states1" typeaheadOptionField="Bank_Name"   placeholder="Select your bank from list" (typeaheadOnSelect)="bankChanged($event)" class="form-control" typeaheadOptionsLimit="10" [typeaheadMinLength]="1" (typeaheadNoResults)="typeaheadNoResults($event)"  typeahead-focus-first="true" #serachbanknameRef>
              </div>
              <div class="alert alert-danger alert-rw" *ngIf="noResult">No Results Found</div>
            </div>
            <div class="search-bank-list-sec branch-name-list full">
              <div class="form-group">
                <!-- <input id="typeahead-focus1" formControlName="branchname" type="text" class="form-control"
                  [ngbTypeahead]="searchBranch" #instance="ngbTypeahead" placeholder="Branch Name"
                  [resultFormatter]="resultFormatBandListValue1" [inputFormatter]="inputFormatBandListValue1"
                  (selectItem)="branchChanged($event)" [(ngModel)]="model1" />
                  <span style="visibility: hidden; height:0px; display: none;">{{model1 | json}}</span> -->

                  <input [(ngModel)]="selectedValue1"  formControlName="branchname" [typeahead]="branchName" typeaheadOptionField="BRANCH" placeholder="Branch Name" (typeaheadOnSelect)="branchChanged($event)" class="form-control" typeaheadOptionsLimit="10" [typeaheadMinLength]="1" (typeaheadNoResults)="typeaheadNoResults1($event)">
              </div>
              <div class="alert alert-danger alert-rw" *ngIf="noResult_branch">No Results Found</div>
            </div>
          </form>
        </div>
      </div>

      <!--confirm ifsc information-->
      <div class="confirm-ifsc-sec full" *ngIf="conShow">
        <h6 class="confirm-ifsc-sec-title">Confirm Bank Details</h6>
        <div class="confirm-ifsc-sec-inner full">
          <div class="conf-ifsc-rw">
            <label>Bank Name:</label>
            <span class="conf-bank-name conf-info">{{resbankName}}</span>
          </div>
          <div class="conf-ifsc-rw">
            <label>Bank Address:</label>
            <span class="conf-bank-add conf-info">{{resbankAdd}}</span>
          </div>
          <div class="conf-ifsc-rw">
            <label>Bank Branch:</label>
            <span class="conf-bank-branch conf-info">{{resbankBranch}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--loader html-->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
