<div class="container">
  <!--Start slider section-->
  <div class="row slider-sec common-mutual-fund-sec">
    <div class="col-sm-12">
      <div style="text-align:center">
        <div class="tso-mf-logo-sec">
            <img src="../assets/images/TradeSmartMutualFund_logo.png" alt="tso-mf-logo" class="tso-logo-img"/>
        </div>
          <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item" *ngFor="let image of images; let i= index">
              <img class="slide-image" src="{{image.image}}">
              <div class="slide-text">
                <h4>{{image.text}}</h4>
              </div>
            </div>
          </owl-carousel>

      </div>

      <!--Start signup section-->
        <div class="signup-in-sec full">
          <button class="btn google-btn-sec"><img src="../assets/images/google-icon.png" alt="google-img">Signin or Signup with google</button>
        </div>

        <ul class="login-list">
          <li><a class="btn login-btn full" (click)="loginSign('login')">Login</a></li>
          <li><a class="btn login-btn signup-btn full" (click)="loginSign('sign')">Signup</a></li>
        </ul>
      <!--End signup section-->
    </div>
  </div>
<!--End slider section-->

</div>
