<div class="top-title-sec full">
  <div class="container">
    <div class="text-center login-logo">
      <img src="../assets/images/TradeSmartMutualFund_logo.png" alt="logo">
    </div>
  </div>
</div>

<div class="container">
  <div class="page-inner-sec full">
    <div *ngIf="otherError" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <!--page title-->
    <div class="page-title full">
      <h4>Mobile Verification</h4>
      <p>Please enter your mobile number</p>
    </div>
    <div class="main-content-sec full">
      <form class="mobile-verification-form" [formGroup]="mobileverificationForm" (ngSubmit)="savePhonenumber()">
        <div class="form-group mobile-no-sec" [ngClass]="{'has-error': submitted  && f.mobile.errors}">
          <div class="default-code-sec">+91</div>
          <div class="main-mobile-number">
            <div class="main-mobile-number-sec">
              <input type="tel" autocomplete="off" class="form-control" id="mobile-number" formControlName="mobile"
                [(ngModel)]="phonenumber.mobile" maxlength="10" minlength="10" numbersOnly autocomplete="off" 
                #mobnoRef> 

                
              <span class="help-block" *ngIf="submitted && f.mobile.errors">
                <span *ngIf="f.mobile.errors.required">Enter Valid Mobile Number</span>
                <span *ngIf="f.mobile.errors.pattern">Enter Valid Mobile Number</span>
              </span>
              <span class="help-block" *ngIf="f.mobile.errors?.serverError">{{ f.mobile.errors?.serverError }}</span>
            </div>
          </div>
        </div>
        <div class="form-group form-btn-sec start-in-sec full">
          <button type="submit" name="button" value="submit" class="btn green-btn">Verify Number</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--loader html-->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
