<div class="top-title-sec full">
  <div class="container">
      <div class="text-center login-logo">
          <img src="../assets/images/TradeSmartMutualFund_logo.png" alt="logo">
      </div>
  </div>
</div>

<div class="container">
  <div class="page-inner-sec full">
    <!--page title-->
    <div class="page-title full">
      <h4>Mobile Verification</h4>
      <p>Enter the verification code sent to</p>
      <div class="full phonenumber-sec">
        <p class="mobile-no-rw full"><span class="mobile-no">{{mobilenumber}}</span> <a routerLink="/mobile-verification">Change</a></p>
      </div>
    </div>
    <div class="main-content-sec full">
      <form [formGroup]="otpForm"  (ngSubmit)="sendOtp()">
      <div class="resend-otp-rw full">
        <div class="resend-otp-inner-rw form-group"  [ngClass]="{'has-error': inValid}">
          <div class=" resend-otp-col">
            <input  type="tel" #otpRef autocomplete="off" class="form-control text-center" formControlName="otp" id="mobile-number" [attr.maxlength]="1"  numbersOnly autocomplete="off" (keyup)="stateChange($event, 1)" (touchend)="stateChange($event, 1)"/>
            <input  type="tel" autocomplete="off" class="form-control text-center" formControlName="otp1" id="mobile-number1" [attr.maxlength]="1" numbersOnly autocomplete="off"  (keyup)="stateChange($event, 1)" (touchend)="stateChange($event, 1)"/>
            <input  type="tel" autocomplete="off" class="form-control text-center" formControlName="otp2" id="mobile-number2" [attr.maxlength]="1" numbersOnly autocomplete="off" (keyup)="stateChange($event, 1)" (touchend)="stateChange($event, 1)"/>
            <input  type="tel" autocomplete="off" class="form-control text-center" formControlName="otp3" id="mobile-number3" [attr.maxlength]="1" numbersOnly autocomplete="off" (keyup)="stateChange($event, 1)" (touchend)="stateChange($event, 1)"/>
            <input  type="tel" autocomplete="off" class="form-control text-center" formControlName="otp4" id="mobile-number4" [attr.maxlength]="1" numbersOnly autocomplete="off" (keyup)="stateChange($event, 1)" (touchend)="stateChange($event, 1)"/>
            <input  type="tel" autocomplete="off" class="form-control text-center" formControlName="otp5" id="mobile-number5" [attr.maxlength]="1" numbersOnly autocomplete="off" (keyup)="stateChange($event, 1)" (touchend)="stateChange($event, 1)"/>
          </div>
          <span class="help-block otp-msg full" *ngIf="inValid">
              <span>Please Enter Valid OTP</span>
          </span>

          <span class="has-error otp-msg full">
              <span class="help-block">{{errorData}}</span>
          </span>
        </div>
          <div class="form-group form-btn-sec start-in-sec full">
            <button type="submit" name="button" value="submit" class="btn green-btn">Verify Number</button>
          </div>
      </div>
      </form>

      <div class="otp-sec full">
        <a  class="resend-otp-text" *ngIf="resend" (click)="resendOtp()">Resend OTP</a>
        <div class="resend-timer"  [ngClass]="{'resend-visible': !resend}">Resend OTP in <countdown-timer [countDownTimerConfig]="testConfig"></countdown-timer></div>
      </div>
    </div>
  </div>
</div>

<!--loader html-->
<div class="lds-css ng-scope"  *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
