<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> Personal Details</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-inner-sec full">
    <div *ngIf="otherError" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <div class="main-content-sec full">
      <form class="personal-details-form main-form-sec-group greay-from-border" [formGroup]="personaldetailsForm"
        (ngSubmit)="savePersonaldetails()">
        <div class="main-form-sec">
          <div class="form-group mobile-no-sec" [ngClass]="{'has-error': submitted  && f.name.errors}">
            <input type="text" autocomplete="off" class="form-control" id="fullname" formControlName="name"
              placeholder="Name as per your PAN Card" [(ngModel)]="username" readonly />
            <span class="help-block" *ngIf="submitted && f.name.errors">
              <span *ngIf="f.name.errors.required">Full Name is required</span>
              <!-- <span *ngIf="f.name.errors.pattern">Enter Valid Full Name</span> -->
            </span>
            <span class="help-block" *ngIf="f.name.errors?.serverError">{{ f.name.errors?.serverError }}</span>
          </div>

          <!-- <div class="form-group mobile-no-sec" [ngClass]="{'has-error': submitted  && f.personalEmail.errors}">
              <input type="email" class="form-control" id="personal-email" formControlName="personalEmail" placeholder="Email ID">
              <span class="help-block" *ngIf="submitted && f.personalEmail.errors">
                  <span *ngIf="f.personalEmail.errors.required">Email is required</span>
                  <span *ngIf="f.personalEmail.errors.email">Enter Valid Email ID</span>
              </span>
          </div> -->


          <div class="form-group mobile-no-sec date-birth-sec" [ngClass]="{'has-error': submitted  && f.dob.errors}">
            <mbsc-input mbsc-date placeholder="Date of Birth (YY/MM/DD)" id="DOB" name="dob" formControlName="dob"
              class="mr-0" [mbsc-options]="dateSettings"></mbsc-input>
            <span class="help-block" *ngIf="submitted && f.dob.errors">
              <span *ngIf="f.dob.errors.required">Date of Birth is required</span>
            </span>
            <span class="help-block" *ngIf="f.dob.errors?.serverError">{{ f.dob.errors?.serverError }}</span>
          </div>

          <div class="form-group full">
            <label>What is your Gender?</label>
            <div class="radio-sec full">
              <div class="form-group mobile-no-sec" [ngClass]="{'has-error': submitted  && f.gender.errors}">
                <label class="radio-inline">
                  <input type="radio" name="gender" formControlName="gender" value="M">
                  <span class="checkmark"></span>
                  Male
                </label>
                <label class="radio-inline">
                  <input type="radio" name="gender" formControlName="gender" value="F">
                  <span class="checkmark"></span>
                  Female
                </label>
                <label class="radio-inline">
                  <input type="radio" name="gender" formControlName="gender" value="O">
                  <span class="checkmark"></span>
                  Others
                </label>

                <span class="help-block" *ngIf="submitted && f.gender.errors">
                  <span *ngIf="f.gender.errors.required">Please Select Gender</span>
                </span>
                <span class="help-block" *ngIf="f.gender.errors?.serverError">{{ f.gender.errors?.serverError }}</span>
              </div>
            </div>
          </div>

          <div class="nominee-info-main-sec full">
            <div class="nominee-info-main-title-sec">
              <div class="nominee-info-title-row" [ngClass]="{'disable-title': !marked}">
                <span class="nominee-title">Nominee Information</span>
                <span class="nominee-checked">
                  <label class="chekbox-container">
                    <input type="checkbox" id="nomineeCheck" [formControl]="nomineeCheckbox" (click)="onChange()">
                    <span class="checkmark"></span>
                  </label>
                </span>
              </div>
            </div>
            <div class="form-group mobile-no-sec" [ngClass]="{'has-error': submitted  && f.nominee_name.errors}">
              <input type="text" autocomplete="off" class="form-control" id="nomineeName" formControlName="nominee_name"
                placeholder="Nominee Name" alphaOnly>
              <span class="help-block" *ngIf="submitted && f.nominee_name.errors">
                <span *ngIf="f.nominee_name.errors?.required">Please Enter Nominee Name</span>
                <span *ngIf="f.nominee_name.errors?.pattern">Enter Valid Nominee Name</span>
              </span>
              <span class="help-block"
                *ngIf="f.nominee_name.errors?.serverError">{{ f.nominee_name.errors?.serverError }}</span>
            </div>
            <div class="form-group full" [ngClass]="{'has-error': submitted && f.nominee_relation.errors}">
              <div class="select-container">
                <span class="select-arrow fa fa-caret-down disable-arrow" [ngClass]="{'disable-arrow': !marked}"></span>
                <select class="form-control" formControlName="nominee_relation">
                  <option hidden disabled selected>Select Your Relation</option>
                  <option *ngFor="let relation of relationship" [value]="relation.value"> {{relation.rname}}</option>
                </select>
              </div>

              <span class="help-block" *ngIf="f.nominee_relation.errors">
                <span *ngIf="f.nominee_relation.errors?.required">Please Select Nominee Relation</span>
                <span *ngIf="f.nominee_relation.errors?.RelationSelect">Please Select Nominee Relation1</span>
              </span>
              <span class="help-block"
                *ngIf="f.nominee_relation.errors?.serverError">{{ f.nominee_relation.errors?.serverError }}</span>
            </div>
          </div>
        </div>
        <div class="form-group form-btn-sec start-in-sec full">
          <button type="submit" name="button" value="submit" class="btn green-btn">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- loader html -->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
