<div class="sign-pad-sec full">
  <div class="container">
    <div class="sign-pad-sec-inner full">
      <div class="sign-pad-inner full">
        <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()">
        </signature-pad>
      </div>

      <div class="sign-pad-button-sec full">
        <div class="sign-pad-button">
          <button type="button" name="button" class="btn sign-btn-reset" (click)="drawClear()">Reset</button>
        </div>
        <div class="sign-pad-button">
          <button type="button" name="button" class="btn sign-btn-save" (click)="signSubmit()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- loader html -->
 <div class="lds-css ng-scope"  *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
