<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow"  (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> One-time Mandate </h3>
    </div>
  </div>
</div>

<div class="container otm-container">
  <div class="otm-head-sec full">
    <div class="otm-bank-img">
      <img src="../assets/images/icici-logo.png" alt="icici-logo">
    </div>
    <div class="otm-bank-and-acc">
      <span class="otm-bank-name">{{bankdetails.bank_name}}</span>
      <span class="otm-bank-acc-no">A/C: {{bankdetails.account_number}}</span>
    </div>
  </div>

  <div class="otm-upload-sec full">
    <h4>Please follow these steps</h4>
    <div class="otm-upload-main-sec full">
      <div class="hwt-sec-inner full">
        <div class="hwt-sec-inner-rw full">
          <div class="hwt-sec-inner-img">
            <span class="nominee-checked">
              <label class="chekbox-container">
                <input type="checkbox"  [checked]="this.mandate_flag === 2 || this.mandate_flag === 3"  disabled>
                <span class="checkmark"></span>
              </label>
            </span>
          </div>
          <div class="hwt-sec-inner-text"><span class="otm-text-bold">Receive</span> Mandate on email 
            <!-- <span class="pull-right" *ngIf="resend">Sent</span>  -->
            <p>Didn’t receive the mandate via email ?</p>
            <span class="otm-green-text" (click)="resendEmail()" *ngIf = "this.mandate_flag != 3">RESEND</span>
          </div>
        </div>
        <div class="hwt-sec-inner-rw full">
          <div class="hwt-sec-inner-img">
            <span class="nominee-checked">
              <label class="chekbox-container">
                <input type="checkbox"  [checked]="this.mandate_flag === 2 || this.mandate_flag === 3"  disabled>
                <span class="checkmark"></span>
              </label>
            </span>
          </div>
          <div class="hwt-sec-inner-text"><span class="otm-text-bold">Mandate</span> Sign Instructions
            <p>View the sample copy of the mandate</p>
            <span class="otm-green-text" (click)="mandateSignInstruction(sign)">VIEW</span>
            <ng-template #sign let-d="dismiss" let-c="close">
              <div class="mandate-example">
                <div class="modal-header">
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                  <p class="mandate-upload-eg-text">Mandate Signature Instructions</p>
                  <p class="mandate-upload-eg-para">Please ensure the image is uploaded in <b>horizontal orientation</b>
                    and is croppped along the edges </p>
                  <div class="col-xs-12 mandate-imgeg-sec">
                    <div class="col-xs-6">
                      <p><img src="../assets/images/correct-format.jpg" alt="correct-format"></p>
                      <span class="alt-dark-txt">Correct Format</span>
                    </div>
                    <div class="col-xs-6">
                      <p><img src="../assets/images/incorrect-format.png" alt="incorrect-format"></p>
                      <span class="alt-dark-txt">Incorrect Format</span>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div><button type="button" class="btn yes-btn" (click)="d('Close click')">OK</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="hwt-sec-inner-rw full hwt-sec-inner-rw-last">
          <div class="hwt-sec-inner-img">
            <span class="nominee-checked">
              <label class="chekbox-container">
                <input type="checkbox"  [checked]="showGallary ||  this.mandate_flag === 3"  disabled>
                <span class="checkmark"></span>
              </label>
            </span>
          </div>
          <div class="hwt-sec-inner-text"><span class="otm-text-bold">Upload</span> Signed Mandate
            <p>Take print out of mandate & upload the image below or in Auto Pay section of your profile</p>
          </div>
        </div>
        <div class="hr"></div>
      </div>

      <div class="upload-snapshot full"  *ngIf="showGallary">
        <img [src]="imageUrl" style="width: 250px;"/>
      </div>

      <div class="full text-center otm-upload-btn" *ngIf = "this.mandate_flag != 3">
        <button type="button" name="button" value="submit" class="btn green-btn"
          (click)="openUpload(upload)">Upload</button>
        <ng-template #upload let-d="dismiss" let-c="close">
          <div class="upload-otm-mandate">
            <div class="modal-header">
              <span class="select-opt">Select Image</span>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="otm-up-rw">
                <button type="button" name="button" value="Gallery" class="btn green-btn gallery-btn"  (click)="takeSnap()" (change)="processFile($event.target.files)"><span
                    class="gal-img-logo"><img src="assets/images/camera.png" /></span> <span class="btn-title">Take
                    Photo</span></button>
              </div>
              <div class="otm-up-rw">
                <button type="button" name="button" value="Gallery" class="btn green-btn gallery-btn">
                   <input #image
                    type="file"  accept=".jpg, .jpeg, .png" (change)="processFile($event.target.files)">
                    <span class="gal-img-logo"><img src="assets/images/gallery.png" /></span> <span
                    class="btn-title">Choose from Library</span></button>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="bottom-fix-btn full">
        <button class="btn green-btn" [disabled]="!showGallary" (click)="submitMandate();"  *ngIf = "this.mandate_flag != 3">Submit</button>

        <div class="full" style="display: none;">
          <button class="btn green-btn" id="otm-mandate" (click)=" openMandateUpload(mandateUpload)">Continue</button>
        </div>
      <ng-template #mandateUpload let-d="dismiss" let-c="close">
        <div class="upload-otm-mandate">
          <div class="modal-body">
           <div class="submit-upload-sec">
               <img src="../assets/images/success.png" alt="success">
                <p class="success-greeting">Great!!</p>
                <p *ngIf = "mandate_id == 'sip'  && mandate_id != undefined && mandate_id != null">Your Auto-Pay request has been <span class="upload-dark-txt">submitted</span></p>
                <p *ngIf = "mandate_id === undefined || mandate_id === null">Your Mandate request has been <span class="upload-dark-txt">submitted</span></p>
                <p>We will keep you informed via <span class="upload-dark-txt">Email & SMS</span></p>
                  <div class="otm-bank-img">
                    <img src="assets/images/icici-logo.png" alt="icici-logo">
                  </div>
                  <div class="otm-bank-and-acc">
                    <span class="otm-bank-name">{{bankdetails.bank_name}}</span>
                    <span class="otm-bank-acc-no">A/C: {{bankdetails.account_number}}</span>
                  </div>
                  <p *ngIf = "mandate_id == 'sip'  && mandate_id != undefined && mandate_id != null">Your Auto-Pay will get registered in 15-30 days for approval from your bank. Please bear with us.</p>
                 <p *ngIf = "mandate_id === undefined || mandate_id === null">Your Mandate will get registered in 15-30 days on approval from your bank. Please bear with us.</p>
           </div>
          </div>
          <div class="modal-footer">
            <div class="bottom-fix-btn full">
            <button type="button" class="btn green-btn" (click)="orderHistory();" *ngIf = "mandate_id == 'sip'  && mandate_id != undefined && mandate_id != null">Order History</button>
            <button type="button" class="btn green-btn" (click)="bankGo();" *ngIf = "mandate_id === undefined || mandate_id === null">Submit</button>
          </div>
          </div>
        </div>
      </ng-template>

    </div>

    <div class="bottom-fix-btn full"  style="visibility: hidden;">
      <button type="button" class="btn green-btn"  id="mfMail-send" (click)="resendMandate(resend)">Continue</button>
    </div>
    <ng-template #resend let-d="dismiss" let-c="close">
      <div class="remove-bank">
        <div class="modal-header"></div>
        <div class="modal-body resend-mandate-sec text-center">
          <img src="../assets/images/success.png" alt="success">
              <p class="success-greeting">Great!!</p>
          <p class="text-center remove-bank-text">Mandate successfully sent on your registered Email</p>
        </div>
      </div>
    </ng-template>
<!--loader html-->
<div class="lds-css ng-scope"  *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
