<div class="top-title-main-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow"  (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> <span  *ngIf="investment_type == 'sip'">SIP</span> <span *ngIf="investment_type == 'lumsum'">ONE TIME</span> <!--<span class="pull-right"><img src="../assets/images/share-icon.png" alt="share">
        </span>-->
      </h3>
    </div>

    <div class="sip-status full" [ngClass]="{'lumsum-sec': investment_type == 'lumsum'}">
      <div class="checkbox-row text-center">
        <div class="progress-status-checked"></div>
        <label class="checkbox-inline">
          <input type="checkbox" value="" checked="checked" disabled>
          <span class="checkmark"></span>
        </label>
        <span class="sip-status-title">Payment Type</span>
      </div>
      <div class="checkbox-row text-center">
        <div class="progress-status"  *ngIf="investment_type == 'sip'"></div>
        <label class="checkbox-inline">
          <input type="checkbox" value=""  [checked]="sipdayflag"  disabled>
          <span class="checkmark"></span>
        </label>
        <span class="sip-status-title">Invest Amount</span>
      </div>
      <div class="checkbox-row text-center" *ngIf="investment_type == 'sip'">
        <label class="checkbox-inline">
          <input type="checkbox" value=""  disabled>
          <span class="checkmark"></span>
        </label>
        <span class="sip-status-title">SIP Day</span>
      </div>
    </div>
  </div>
</div>

<div class="sip-amount-sec full">
  <div class="container">
      <div *ngIf="otherError" class="alert alert-danger full">
          {{errorMessage}}
        </div>
    <form [formGroup]="sipAmtForm" class="full">
      <div class="form-group sipAmtForm" [ngClass]="{'has-error': submitted  && f.investSipAmt.errors}">
        <input type="tel" class="form-control mandate-amt" autocomplete="off" maxlength="8"
          formControlName="investSipAmt" [(ngModel)]="sipamt" autocomplete="off">
        <span class="help-block" *ngIf="submitted && f.investSipAmt.errors">
          <span *ngIf="f.investSipAmt.errors.required && investment_type == 'sip'">SIP amount is required</span>
          <span *ngIf="f.investSipAmt.errors.required && investment_type == 'lumsum'">Investment amount is required</span>
          <span *ngIf="f.investSipAmt.errors.pattern && !f.investSipAmt.errors.min">Please enter a valid amount</span>
          <span *ngIf="f.investSipAmt.errors.min  && investment_type == 'sip'">Minimum investment amount <i class="fa fa-inr"></i> {{minmaxamt.sip_minimum_installment_amount}}</span>
          <span *ngIf="f.investSipAmt.errors.min  && investment_type == 'lumsum'">Minimum investment amount <i class="fa fa-inr"></i> {{minmaxamt.minimum_purchase_amount}}</span>
          <span *ngIf="f.investSipAmt.errors.max  && investment_type == 'sip'">Maximum investment amount <i class="fa fa-inr"></i> {{minmaxamt.sip_maximum_installment_amount}}</span>
          <span *ngIf="f.investSipAmt.errors.max  && investment_type == 'lumsum'">Maximum investment amount <i class="fa fa-inr"></i> {{minmaxamt.maximum_purchase_amount}}</span>
        </span>
        <img src="../assets/images/rupee-symbol.png" alt="rupee-symbol" class="rupee-sym">
        <p class="max-inv-amt"  *ngIf="investment_type == 'sip'">Minimum Investment amount <i class="fa fa-inr"></i> {{minmaxamt.sip_minimum_installment_amount}}</p>
        <p class="max-inv-amt" *ngIf="investment_type == 'lumsum'">Minimum Investment amount <i class="fa fa-inr"></i> {{minmaxamt.minimum_purchase_amount}}</p>
        <div class="otm-amt-sec full" *ngIf="investment_type == 'sip'">
          <div class="col-xs-12">
            <div class="mandate-amt-btn"><span class="btn green-btn" (click)="getOtmAmount($event.target.innerText)"><i
                  class="fa fa-inr"></i> 500</span></div>
            <div class="mandate-amt-btn"><button type="button" class="btn green-btn"
                (click)="getOtmAmount($event.target.innerText)"><i class="fa fa-inr"></i> 1000</button></div>
            <div class="mandate-amt-btn"><button type="button" class="btn green-btn"
                (click)="getOtmAmount($event.target.innerText)"> <i class="fa fa-inr"></i> 1500</button></div>
          </div>
        </div>

        <div class="bottom-fix-btn full">
          <button type="submit" class="btn green-btn" (click)="saveSip(selectSip)">Continue</button>
          <ng-template #selectSip let-d="dismiss" let-c="close">
              <div class="remove-bank">
                <!-- <div class="modal-header text-center">
                  <img src="../assets/images/icici.png" alt="bank-logo">
                </div> -->
                <div class="modal-body">
                  <p class="text-center conf-sip-txt">You are investing <br><span class="conf-sip-amt-txt"><i class="fa fa-inr"></i>&nbsp;{{sipamt}}</span><br> In mutual fund, {{funds.fund_details.SchemeName}}</p>
                </div>
                <div class="modal-footer">
                  <div class="col-xs-6 text-center"><button type="button" class="btn no-btn"
                      (click)="d('Close click'); cancelSipday();">CANCEL</button>
                  </div>
                  <div class="col-xs-6 text-center"><button type="button" class="btn yes-btn"
                      (click)="c('Close click'); investLumsum();">PROCEED</button>
                  </div>
                </div>
              </div>
            </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>

<!--loader html-->
<div class="lds-css ng-scope"  *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
