.fa-plus{font-size: 20px;color: #00b08d;vertical-align: middle;padding-right: 10px;-webkit-text-stroke: 1px white;}
.remove-bank-text{font-size: 18px;color: #00b08d;margin-top: 12px;}
.bank-name{color: #000;font-weight: 700;}
.otm-bank-acc-no{display:table-cell;padding-right: 15px !important;}
