<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3>
        Success Confirmation </h3>
    </div>
  </div>
</div>

<div class="sip-top-sec">
  <div class="otm-head-sec full">
    <!-- <div class="otm-bank-img">
      <img src="../assets/images/icici-logo.png" alt="icici-logo">
    </div> -->
    <div class="otm-bank-and-acc">
      <span class="fund-name-txt">Fund Name</span>
      <span class="sip-bank-name">{{funds.fund_details.SchemeName}}</span>
    </div>
  </div>
</div>

<div class="sip-status-sec full">
  <div class="sip-status-sec-inner">
    <div class="col-xs-12">
      <div class="col-xs-6 sip-installment-txt">1st SIP Installment</div>
      <div class="col-xs-6 sip-comp-txt" align="right"> <img src="../assets/images/small-tick.png" alt="success">
        Completed</div>
    </div>
  </div>
  <div class="sip-status-sec-inner">
    <div class="col-xs-12">
      <div class="col-xs-6 sip-installment-txt">2nd SIP Installment</div>
      <div class="col-xs-6 sip-autodeb-txt" align="right" *ngIf='isViewable' (click)='toggle();automateSip(automate)'>
        Register Auto Debit</div>
      <div class="col-xs-6 sip-autodeb-txt" align="right" *ngIf='!isViewable'>Select Mandate <img
          src="../assets/images/select-arrow.png" alt="select"></div>
    </div>
  </div>
</div>

<div class="sip-success-end-sec text-center full" *ngIf='isViewable'>
  <p>Setup Auto - Pay</p>
  <p>For the SIP amount to be deducted every month. Please set up your Auto Pay</p>
</div>

<div class="bottom-fix-btn full">
  <button class="btn green-btn" (click)="automateSip(automate);toggle()">Automate Sip</button>
  <ng-template #automate let-d="dismiss" let-c="close">
    <div class="upload-otm-mandate">
      <div class="modal-body">
        <div class="otm-up-rw">
          <button type="button" name="button" value="Gallery" class="btn green-btn gallery-btn"><span
              class="btn-title">Mandate Name</span></button>
          <div class="select-mandate">
            <div class="sip-bank-account-sec" *ngFor="let bank of banklist" (click)="mandateForSip(bank);">
              <div *ngIf="bank.mandate_details != null">
                <div class="sip-bank-details full">
                  <!-- <div class="otm-bank-img">
                    <img src="../assets/images/icici-logo.png" alt="bank-logo">
                  </div> -->
                  <div class="otm-bank-and-acc">
                    <span class="otm-bank-name">{{bank.name}}</span>
                    <span class="otm-bank-acc-no">A/C: {{bank.account_number}}</span> <span
                      class="otm-bank-acc-no">Mandate ID: {{bank.mandate_details.mandate_id}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="otm-up-rw">
          <div>
            <button *ngIf="allMandate != 'Yes'" type="button" name="button" value="Gallery" class="btn green-btn gallery-btn"><i class="fa fa-plus"
              aria-hidden="true"></i>
            <span class="btn-title"  (click)="newMandate()">Create new mandate</span></button>
        </div>
      </div>
      </div>
    </div>
  </ng-template>
</div>
<div class="full" style="display: none;">
  <button class="btn green-btn" id="sip-mandate" (click)="openSipMandate(sipMandate)">Continue</button>
</div>
<ng-template #sipMandate let-d="dismiss" let-c="close">
  <div class="remove-bank">
    <div class="modal-body text-center">
      <img src="../assets/images/success.png" alt="success-img" />
      <p class="remove-bank-text">SUCCESS</p>
      <p>Your SIP has been registered for Auto-Debit with <span class="bank-name">{{bankname}}</span></p>
    </div>
  </div>
</ng-template>

<!-- loader html -->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
