<div class="top-title-main-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> SIP <!--<span class="pull-right"><img src="../assets/images/share-icon.png" alt="share">
        </span>-->
      </h3>
    </div>

    <div class="sip-status full">
      <div class="checkbox-row text-center">
        <div class="progress-status-checked"></div>
        <label class="checkbox-inline">
          <input type="checkbox" value="" checked="checked" disabled>
          <span class="checkmark"></span>
        </label>
        <span class="sip-status-title">Payment Type</span>
      </div>
      <div class="checkbox-row text-center">
        <div class="progress-status" [ngClass]="{'progress-status-checked': sipdateflag == 'true'}"></div>
        <label class="checkbox-inline">
          <input type="checkbox" value="" [checked]="sipdateflag == 'true'" disabled>
          <span class="checkmark"></span>
        </label>
        <span class="sip-status-title">Invest Amount</span>
      </div>
      <div class="checkbox-row text-center">
        <label class="checkbox-inline">
          <input type="checkbox" value="" [checked]="sipdayflag"  disabled>
          <span class="checkmark"></span>
        </label>
        <span class="sip-status-title">SIP Day</span>
      </div>
    </div>
  </div>
</div>

<div class="container page-inner-sec">
  <div *ngIf="otherError" class="alert alert-danger">
      {{errorMessage}}
  </div>
  <div class="sip-date-sec full">
    <div class="sip-date-main">
      <form class="mobile-verification-form" [formGroup]="sipdateForm" (ngSubmit)="saveSipdate()">
        <div class="form-group mobile-no-sec sip-date-form-rw sipdateForm" [ngClass]="{'has-error': submitted  && f.sipdate.errors}">
          <div class="form-control" (click)="sipDateSelect(date)">
            <input type="text" id="sip-date" formControlName="sipdate" autocomplete="off" readonly
              [(ngModel)]="sipdate">
            <span class="every-date-label span-col">of every month</span>
            <img src="../assets/images/calendar.png" alt="calendar" class="pull-right calendar-select">


            <ng-template #date let-d="dismiss" let-c="close">
              <div class="sip-date-select">
                <div class="modal-header">
                  <p class="text-center sip-date-head">Select your billing date</p>
                </div>
                <div class="modal-body">
                  <div
                    *ngFor="let row of newarr.slice(0, newarr.length / n % 1 === 0 ? newarr.length / n : newarr.length / n + 1); let idx = index;">
                    <span *ngFor="let x of newarr.slice(idx * n, idx * n + n);  let index = index;"
                      [ngClass]="x.flag != true ? 'sip-calendar-disabled sip-calendar' : 'sip-calendar'"
                      (click)="onSelect(x);" [class.selected]="x.flag === true ? x.id === selectedHero: '' "><input [value]="x.id" readonly /></span>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn cancel-btn"
                    (click)="d('Close click'); cancelSipdate();">CANCEL</button>
                  <button type="button" class="btn ok-btn" (click)="d('Close click'); okSipDate();">OK</button>
                </div>
              </div>
            </ng-template>

          </div>
          <span class="help-block" *ngIf="submitted && f.sipdate.errors">
            <span *ngIf="f.sipdate.errors.required">SIP Date is required</span>
          </span>
        </div>
        <div class="bottom-fix-btn full">
          <button type="submit" name="button" value="submit" class="btn green-btn"
            (click)="openSipConfirm(selectSip)">Continue</button>
          <ng-template #selectSip let-d="dismiss" let-c="close">
            <div class="remove-bank">
              <!-- <div class="modal-header text-center">
                <img src="../assets/images/icici.png" alt="bank-logo">
              </div> -->
              <div class="modal-body">
                <p class="text-center conf-sip-txt">You are buying a <br><span class="conf-sip-amt-txt">Monthly SIP of
                    Rs. {{sip_scheme.amount}}</span><br> In mutual fund, {{funds.fund_details.SchemeName}}</p>
              </div>
              <div class="modal-footer">
                <div class="col-xs-6 text-center"><button type="button" class="btn no-btn"
                    (click)="d('Close click'); cancelSipday();">CANCEL</button>
                </div>
                <div class="col-xs-6 text-center"><button type="button" class="btn yes-btn"
                    (click)="c('Close click'); proccedSip();">PROCEED</button>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </form>
    </div>
    <div class="sip-date-para full">
      <p>Your money will get invested within 24 hours and you will get EOD price (NAV) SIP will be active till cancelled
        by you</p>
    </div>
  </div>
</div>

<!--loader html-->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
