<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> Select Bank Account </h3>
    </div>
  </div>
</div>

<div class="order-history-main-sec full order-history-background">
  <form [formGroup]="newMandateForm" [ngClass]="{'has-error': submitted  && f.bankSelect.errors}" (ngSubmit)="addNewMandate(bank)">
  <div class="sip-bank-account-sec full" *ngFor="let bank of banklist">
    <div *ngIf="bank.mandate_details == null">
      <div class="sip-bank-account-sec-inner">
        <div class="radio-sec">
          <label class="radio-inline">
            <input type="radio" [value]="bank" formControlName="bankSelect">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="sip-bank-details">
          <!-- <div class="otm-bank-img">
            <img src="../assets/images/icici-logo.png" alt="bank-logo">
          </div> -->
          <div class="otm-bank-and-acc">
            <span class="otm-bank-name">{{bank.name}}</span>
            <span class="otm-bank-acc-no">A/C: {{bank.account_number}}</span>
          </div>
        </div>
      </div>
    </div>
   
    <!-- <div class="sip-add-bank-sec full text-center">
    <p>Or add another bank account</p>
    <div class="full">
      <button type="submit" name="button" value="submit" class="btn green-btn">Add Account</button>
    </div>
  </div> -->
    <div class="bottom-fix-btn full">
      <button type="submit" class="btn green-btn">Next</button>
    </div>
  </div>
  <span class="help-block help-error full" *ngIf="submitted && f.bankSelect.errors">
      <span *ngIf="f.bankSelect.errors.required">Please Select Bank</span>
    </span>
  </form>
</div>