<div class="fund-filter-top-sec">
  <div class="fund-filter-top-sec-inner">
    <span class="title-arrow" (click)="this.location.back();">
      <fa class="chevron" name="chevron-left"></fa>
    </span>

    <!---  Title when click from Investment Plan section-->
    <span class="fund-name" *ngIf="investment_plan == 'tax-saver'">Invest to Save Tax</span>
    <span class="fund-name" *ngIf="investment_plan == 'savings'">Better than Saving Account</span>
    <span class="fund-name" *ngIf="investment_plan == 'bt-fd'">Better than Fixed Deposit</span>
    <span class="fund-name" *ngIf="investment_plan == 'large-inv'">Invest in Large Companies</span>
    <!---  Title when click from Investment Plan section-->

    <!---  Title when click from Risk type section-->
    <span class="fund-name" *ngIf="risk == 'L'">Low Risk Funds</span>
    <span class="fund-name" *ngIf="risk == 'M'">Mid Risk Funds</span>
    <span class="fund-name" *ngIf="risk == 'H'">High Risk Funds</span>
    <!---  Title when click from risk type section-->

    <!---  Title when click from Top Fund by categories-->
    <span class="fund-name" *ngIf="asset_type == 'Equity' && category == 'Small'"> Equity - Small Cap Funds </span>
    <span class="fund-name" *ngIf="asset_type == 'Equity' && category == 'Mid'"> Equity - Mid Cap Funds </span>
    <span class="fund-name" *ngIf="asset_type == 'Equity' && category == 'Large'"> Equity - Large Cap Funds </span>
    <span class="fund-name" *ngIf="asset_type == 'Equity' && category == 'ELSS'"> Equity - ELSS Funds </span>
    <span class="fund-name" *ngIf="asset_type == 'Equity' && category == ' '"> Equity - Any Funds </span>
    <span class="fund-name" *ngIf="asset_type == 'Equity' && category == 'thematic'"> Equity - Theamatic Funds </span>
    <span class="fund-name" *ngIf="asset_type == 'Equity' && category == 'Contra'"> Equity - Contra Funds </span>
    <span class="fund-name" *ngIf="asset_type == 'Equity' && category == 'Dividend'"> Equity - Dividend Yield
      Funds</span>

    <span class="fund-name" *ngIf="asset_type == 'Debt' && category == 'Long'"> Debt - Long Duration Funds </span>
    <span class="fund-name" *ngIf="asset_type == 'Debt' && category == 'Medium'"> Debt - Medium Duration Funds </span>
    <span class="fund-name" *ngIf="asset_type == 'Debt' && category == 'Short'"> Debt - Short Duration Funds </span>
    <span class="fund-name" *ngIf="asset_type == 'Debt' && category == 'Ultra'"> Debt - Ultra Short Duration
      Funds</span>
    <span class="fund-name" *ngIf="asset_type == 'Debt' && category == 'Gilt'"> Debt - Gilt Funds </span>
    <span class="fund-name" *ngIf="asset_type == 'Debt' && category == 'Gilt10'"> Debt - Gilt10 Year Funds </span>
    <span class="fund-name" *ngIf="asset_type == 'Debt' && category == 'Liquid'"> Debt - Liquid Funds </span>
    <span class="fund-name" *ngIf="asset_type == 'Debt' && category == ' '"> Debt - Any Funds</span>

    <span class="fund-name" *ngIf="asset_type == 'Hybrid' && category == 'Balanced'"> Hybrid - Balanced Advantage
      Funds</span>
    <span class="fund-name" *ngIf="asset_type == 'Hybrid' && category == 'Conservative'"> Hybrid - Conservative
      Funds</span>
    <span class="fund-name" *ngIf="asset_type == 'Hybrid' && category == 'Multi'"> Hybrid - Multi Asset Allocation
      Funds</span>
    <span class="fund-name" *ngIf="asset_type == 'Hybrid' && category == 'Equity'"> Hybrid - Equity Saving Funds </span>
    <span class="fund-name" *ngIf="asset_type == 'Hybrid' && category == ' '"> Hybrid - Any Funds </span>
    <!---  Title when click from Top Fund by categories-->
  </div>
  <!-- <div class="fund-filt-my-filter">
    <ul class="line-year-rw full">
      <li [ngClass]="{'active': selectedItem == item.period}" (click)="getFilteredFunds(item.period);"
        *ngFor="let item of monthPeriod">
        <span class="month-year-sec">{{item.name}}</span>
      </li>
    </ul>
  </div> -->
</div>

<div class="order-history-background fund-filter-main-sec">
  <div class="container">
    <div class="portfolio-main-sec full">
      <div class="order-history-rw" *ngFor="let funds of fund" (click)="investInScheme(funds);">
        <div class="col-xs-12">
          <div class="col-xs-12 fund-fil-inner-sec">
            <!-- <div class="otm-bank-img">
              <img src="../assets/images/icici-logo.png" alt="icici-logo">
            </div> -->
            <div class="otm-bank-and-acc invest-tab">
              <span class="otm-bank-name"> {{funds.scheme_name}} </span>
            </div>
            <span class="filter-arrow"><i class="fa fa-angle-right"></i></span>
          </div>

          <div class="fund-filter-rw full">
            <div class="col-xs-12">
              <div class="col-xs-4">
                <p class="pos-txt">{{funds.three_year_return.toFixed(2)}}%</p>
                <p class="fund-filt-txt">3 yr return</p>
              </div>
              <div class="col-xs-4">
                <p
                  [ngClass]="{'pos-txt':funds.risk == 'Low','medium-txt': funds.risk == 'Moderately Low'||funds.risk == 'Moderately High' || funds.risk == 'Moderate' ,'negative-txt': funds.risk =='High'}">
                  {{funds.risk == 'Low' || funds.risk =='High' ? funds.risk : 'Mid'}}</p>
                <p class="fund-filt-txt">Risk</p>
              </div>
              <div class="col-xs-4">
                <p class="min-amt"><i class="fa fa-inr"></i> {{funds.mininvt}}</p>
                <p class="fund-filt-txt">Min. Investment</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <span class="filter-icon"><img src="../assets/images/filter.png" alt="filter" (click)="showOrHideBankName()"></span> -->

    <!--Filter setion-->
    <div class="filter-sec-popup full" *ngIf="showBankSearch">
      <div class="main-form-sec-group full">

        <div class="top-title-sec other-screen-logo-sec full">
          <div class="container">
            <div class="top-title-inner full">
              <h3><span class="title-arrow">
                </span> <span (click)="cancelBtn($event);" class="filter-close"> <button type="button" class="close"
                    aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button></span> Filters <span class="pull-right clear-txt" (click)="uncheckAll()">Clear</span></h3>
            </div>
          </div>
        </div>

        <div class="mandate-sec">
          <div class="row">
            <div class="col-md-12">
              <div class="col-xs-4 col-md-4 col-lg-3 left-sort-tab filter-left-tab">
                <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left">
                  <li [ngClass]="{'active': tab.active}" *ngFor="let tab of tabs">
                    <a (click)="tabChange(tab)">{{tab.name}}</a>
                  </li>
                </ul>
              </div>

              <div class="col-xs-8 col-md-8 col-lg-9 right-sort-tab">
                <div class="tab-content">
                  <div class="tab-pane active"
                    [ngClass]="{'showTab':selectedUserTab == 1, 'hideTab':selectedUserTab != 1}">
                    <!-- Equity tab -->
                    <div class="filter-rw otm-upload-main-sec full" *ngFor="let checkbox of equity">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.High_to_Low"
                            (click)="selectCheckBox(check_box_type.High_to_Low);" #checkboxes>
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">{{checkbox.type}}</span>
                    </div>

                    <!-- <div class="filter-rw otm-upload-main-sec">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.Low_to_High"
                            (click)="selectCheckBox(check_box_type.Low_to_High);">
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">Low to High</span>
                    </div> -->
                  </div>

                  <div class="tab-pane active"
                    [ngClass]="{'showTab':selectedUserTab == 2, 'hideTab':selectedUserTab != 2}">
                    <!-- Debt tab -->
                    <div class="filter-rw otm-upload-main-sec" *ngFor="let checkbox of debt">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.High_to_Low"
                            (click)="selectCheckBox(check_box_type.High_to_Low);" #checkboxes>
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">{{checkbox.type}}</span>
                    </div>

                    <!-- <div class="filter-rw otm-upload-main-sec">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.Low_to_High"
                            (click)="selectCheckBox(check_box_type.Low_to_High);">
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">Low to High</span>
                    </div> -->
                  </div>

                  <div class="tab-pane active"
                    [ngClass]="{'showTab':selectedUserTab == 3, 'hideTab':selectedUserTab != 3}">
                    <!-- Hybrid tab -->
                    <div class="filter-rw otm-upload-main-sec" *ngFor="let checkbox of hybrid">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.High_to_Low"
                            (click)="selectCheckBox(check_box_type.High_to_Low);" #checkboxes>
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">{{checkbox.type}}</span>
                    </div>

                    <!-- <div class="filter-rw otm-upload-main-sec">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.Low_to_High"
                            (click)="selectCheckBox(check_box_type.Low_to_High);">
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">Low to High</span>
                    </div> -->
                  </div>

                  <div class="tab-pane active"
                    [ngClass]="{'showTab':selectedUserTab == 4, 'hideTab':selectedUserTab != 4}">
                    <!-- Schemes tab -->
                    <div class="filter-rw otm-upload-main-sec">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.High_to_Low"
                            (click)="selectCheckBox(check_box_type.High_to_Low);" #checkboxes>
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">High to Low</span>
                    </div>

                    <div class="filter-rw otm-upload-main-sec">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.Low_to_High"
                            (click)="selectCheckBox(check_box_type.Low_to_High);" #checkboxes>
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">Low to High</span>
                    </div>
                  </div>

                  <div class="tab-pane active"
                    [ngClass]="{'showTab':selectedUserTab == 5, 'hideTab':selectedUserTab != 5}">
                    <!-- Solution Oriented tab -->
                    <div class="filter-rw otm-upload-main-sec" *ngFor="let checkbox of soln">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.High_to_Low"
                            (click)="selectCheckBox(check_box_type.High_to_Low);" #checkboxes>
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">{{checkbox.type}}</span>
                    </div>

                    <!-- <div class="filter-rw otm-upload-main-sec">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.Low_to_High"
                            (click)="selectCheckBox(check_box_type.Low_to_High);">
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">Low to High</span>
                    </div> -->
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-fix-btn fund-fil-bottom-btn full">
        <div class="fix-btn-col">
          <button class="btn white-btn" (click)="cancelBtn($event)">Cancel</button>
        </div>
        <div class="fix-btn-col">
          <button class="btn green-btn">Apply Filters</button>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>

<!-- loader html -->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
