<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span>Reset Password</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="page-inner-sec full">
    <div *ngIf="otherError" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <div class="main-content-sec full">
      <form class="main-form-sec-group greay-from-border" [formGroup]="resetPassForm" *ngIf="!resendF">
        <div class="full">
          <div class="form-group reset-pass" [ngClass]="{'has-error': submitted  && f.email.errors}">
            <label class="label-light" for="email">Email ID</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Email Id" [readonly]="!flag"
              [(ngModel)]="setemail">
            <span class="help-block" *ngIf="submitted && f.email.errors">
              <span *ngIf="f.email.errors.required">Email Id is required</span>
            </span>
            <span class="help-block" *ngIf="f.email.errors?.serverError">{{ f.email.errors?.serverError }}</span>
          </div>
        </div>
        <div class="full form-btn-sec start-in-sec">
          <div class="form-group full">
            <button type="button" name="button" value="submit" class="btn green-btn" (click)="saveResetPass()">Send
              OTP</button>
          </div>
        </div>
      </form>

      <div class="resend-otp-forgot-sec full" *ngIf="resendF">
        <form class="main-form-sec-group greay-from-border" [formGroup]="verifyOTP">
          <div class="full">
            <div class="form-group" [ngClass]="{'has-error': otpsubmitted  && fo.otp.errors}">
              <input type="tel" class="form-control" formControlName="otp" maxlength="6" numbersOnly  pattern="[0-9]*" placeholder="Enter OTP" />
              <span class="help-block" *ngIf="otpsubmitted && fo.otp.errors">
                <span *ngIf="fo.otp.errors.required">OTP is required</span>
              </span>
            </div>
          </div>
          <div class="full form-btn-sec start-in-sec">
            <div class="form-group full">
              <button type="button" name="button" value="submit" class="btn green-btn" (click)="sendOTP()">Verify
                OTP</button>
            </div>
          </div>
        </form>

        <div class="otp-sec full">
          <a class="resend-otp-text" *ngIf="resend" (click)="resendOTP()">Resend OTP</a>
          <div class="resend-timer" [ngClass]="{'resend-visible': !resend}">Resend OTP in <countdown-timer
              [countDownTimerConfig]="testConfig"></countdown-timer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--loader html-->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
