<router-outlet></router-outlet>
<!-- Routed components go here -->

<div class="internet-error-sec full" *ngIf="updateAvailable">
  <div id="no-network-overlay" class="no-network-show">
             <div class="no-network-content update-div">
              <img src="../assets/images/tsologo.png" alt="tsologo">
               <p>New version available for update, Please update it to enjoy new features</p>
               <div class="btn-rw full" [ngClass]="{'later-btn-rw': updateLater}">
                 <div class="btn-col">
                  <button type="button" class="btn green-btn add-top-margin" (click)="appUpdate();">Update</button>
                </div>
                <div class="btn-col">
                <button type="button" class="btn green-btn grey-btn add-top-margin" *ngIf="updateLater" (click)="appUpdateClose();">Later</button>
                </div>
               </div>
             </div>
      </div>
  </div>

    <div class="internet-error-sec full" *ngIf="this.status != 'ONLINE'">
        <div id="no-network-overlay" class="no-network-show">
           <div class="no-network-content">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">  <image id="image0" width="64" height="64" x="0" y="0"
              href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
          AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAA
          CXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4wQIERIIB/t8BQAAD1ZJREFUeNrtmntwleWdxz+/
          55yTG3cQFFGxUbQFJZdzckKolsT7hRCIBau7Zbez7lhr12lru05ntivTsVNtu3Z2rTtVae2uuitB
          gRBAF7Wh5ZaTnIRwFQQUEUTKPZDbOed9fvvH80YikguBVDvlO/POSc553t/7/L7v87s+D5zHeZzH
          eZzHXy/kXAssaqwaqNYbCXIhyihgqCqZIqSrkIaqAO0i0oqlHcNBRf8E7E8F7IG2YKp984RZ+hdD
          QDS2IMsETbYiVwDZwCXABcBwYBgwCEgHQv4lQKLTdQw47F8HFd4HfReRnWpkb13utObPFwE6h4mb
          J4Qy2zLGgr0GYSIwDuggYAQQ9EengHagzf9M+s9M88lI8wmi0/gPgfeAncA2YAuwORQK7Fk1cWry
          MyMgHH9GgjJqAJirFSYKEka1yCcg6E/+APARcBA4ChwBjim0CNIGmnBPlQxU01AyEEYBQ4ChwEhg
          tP93ELc63gZiQD3IRuvZbXXR6a1/PgJ0DgXrcwcZT74AhIHbUG5EGAF4wB5gN7APkW2CbgHdhche
          EXNgbW5pW3fiizdXZLS0p4/GMkaEK0DH48zpEuBSnDkFgX3ACpTXEBoDQW/Hmpzy9n4lIFJXmUZA
          RxtkkijTgVv8t9MCfAB8gPKWNWZFRkg2D8wwLa+Nu+OsHVikrnJEwGgOKlMQojjTGg0MAA4Br4no
          fGulvjZStu+cEzCzooLd2emDFb6IMEvgbuBiX/G9oI2KzEsY+2Zj3ozjZ6twl9A5UtCQc7FRU4xQ
          ChQCo4AM4JAqT4uRlzDeHsS2x3LuOmPyP0XAdRuWGNuWGuYF5HbgfmASYIE/ATHQ509kJJZvnjDr
          nDuk7lC0btEwVSlW5Rv+nIYDAURWIPbHotIgyPG1+dNsnwmINi4wQYIjPc9+D+RvccuuHVgH/GdK
          zfz6SOlZ293ZIBqvGgI6TUR/BFyGC7FHRORhYAlwqOYMSDCn/H+J5+m/gzyAW/KHgblG5O9j4bIX
          P2vlAWojpccSAe+llOgU4L/8r4ep6nPAv/ik9Bofr4Bo/aICQX4NHWFNGxR5oi2YsWhDzq2Jz1rx
          rhBtWDRbVH6JS7pEkFdV5LFY3tRGpOcgFwSYVFcZVngWGA8EgGUW/bdEemI1XsYZK19YsyxTQsls
          34lejrrYLkKaKukgTbj84EMRtiOyFdgVyyvti195WZQdCE8pXKNoKUooum7J47Wqa3siQQrjVRHE
          PucrHwSeAeZa7Oa6/PXtyJxezaIovihbRaZYKBa4Fhe/032ZQZy5iX9Z/0rhssMEsE+EelWqsbIy
          88Sg/StKSnrl1YvqKtM0aMerNU8CRYCCLEPkl7G8qau7I0EK6ytXAQWdlP+1wNaacFm3b764uhog
          0Dqk6UaUrwIRX+khQJYvT4ETuAzxKJBARFHNBAYDY3yS8Ilo7lgZwCqUhR6msT5S2mPmV7j+1ZB4
          oVxV/THwFVyS9qyIPFWTP+39ru4L4mbpCcz1CdjWk/LR+kUZLRybLCqzUfJxWdsQX+HtQCPoJmCH
          r3wrSMJ/6+DMLKSiWYKMBr6EZSJGIqiOEUfMFQjFQezawobFC1oD6Ws25NzapYnEcu5KFjVWrcfy
          mKr+ALgeENR2a1ZSWF95PSqjRbQR2NWd8uF4VciIXmnQrwM34MxmEMoBhGqUlSq8I6r7BA6qeEdT
          erCtPnL/p5eyzgGQ6Ib8LPEYgdWRYmSMqk4EioF8n9TDwCZgOUYWxPKmbetOoaLGqnTPetcIcqnA
          e6i3tSbcdcosAMXV1QHAW1FS0vVbb1g8HGWKoPf47F6IK1YWi/J7FdkknrdDUsnjayfPOqNkpAO3
          b19mDjclLkTMOFTDwE247G8IsBeoBp2X2TTkzRUlJakuBekcuX73tTIwkak9pea9K4Yaci4TzDSB
          r+H8hQVqgMUIb2U22y0j9yVT82fN6ovep8WkusphGuBalBuA24A8XFK2BuT5WHjavHPxnG4JKK6u
          lpbBTeOAu33lr8alxEsRWdAaSH+rX3MEVQrXLbkIdApQjuoNQAYiS2L50+45F48IdvVDcXW1tA46
          MU5gNtCRFm9XeMWI/q4mv2xnvyneARFi8FE4XrUoILpTXKNknKrGz9UjuiSgbdCJCxGd5St/EbBF
          0P8Wo7+ryZtxpN+V74T6SGl7cXV1fVvW8e1q7CXiye5zJbtLEyisX1wM+kNgCrBZ4Ddtxj7fmDej
          V92YcLzKBI2XKcpgYIBCGiohERd2gaQozSpy3GrTcUuzrY/c36PcgnULA4IMNGqGqWq631UyKEmM
          tAPNVuRIu0lr25Bza4+JVJcERBsWTxDVfwTGI/JKKGheWDVxavfK6xwKGvIHGOwIkBFAtqATFC4H
          GYEyxCegFTgqyi4VtoHdAuaAVXNQVZrjBVM/EUXC8SoJiGYAIwW9SEUnGExYVUeiXIiQhnIUkUMI
          OxUaRHlX0P1WzNHa/K5T7G6dYDj+6kBjjQxoHtq8oqSk29BWuG5xpifecOOZqKDlICU4v2FwCZKH
          ix7qfxfgZDV6DKRalXmKLK+LlB7ukDupvjJNYZgi+YLei+tKjfJ/9jrJDXSSmQS2Aq+ALAG7w7Qn
          TpwuPJ91W/z6hmWS0GQmRm7B6sO4vmEGJ/P8FNCMcBDlGIgHOhDXPR6G80Np/ucB4KuxcNnKmRUV
          7MlOD6mQq3AfMAuXD3TIbffHH1BoFrhAYZR8sg1vgLdB50rKe4mgHKwJl3+ChGBPCvYCFwCPY3UW
          MND/rgVYBSxD+GO72G2NeTNaOt8UXb/YAGMlpV8WmKFwI/AOrnbAn/ydCj8AJvvfHVeXf7zsqVle
          Hynd01nm7duXpR09nsqzqncAdwFfBMaDPKrB4ETBexTXwD37FRBtXBAArjBe4A11tYBBpElUnxdP
          f2MSsnX1dWW9Lm/D8WeCgFcfuV/ROVK4Lv8nqH7Lf+stwEpV/XltuLEamdNjpjk5vnCkh7kH4X5H
          AklgpYp5oDa/9J2OcaYnQadDwbqFaVhTIF5g2cfKo29hdbpaHsVtZpxpbZ/C+QcK1+WVo3oTrmIE
          eBeoAP7AyYKqJxz0AqFnEXkIqML5h6io9/jk9QuGdww64xUQjleZgNhsgcXAVUBA0KcVnsKyC08S
          sUllfW6NF9YtysHIT3B1QKgTObWK/Lw2PG1xr4W5TDId1ULQh4By4ADoi7Hw9IehjysACKrzxAL6
          M+AXAjtiBdPbz0b5mRUVBpF7cI5UgfnAy7iGSVjQ7xfGK6f3WqAIsfzSdqAO+C1uh2kEyNSi+spo
          XwlQYK+I3ifwDeBXCrtrwtO9viregfevTIsiXI9zrDXA/6rok7jmZwqIIDxcGK8sOxO5sfC0VqyN
          ofqCT+YYC9/qEwH1kVINBr0TgYB9XWBBLDz9g1h4ep/K31MhyE3AWKANZbl4ZjXGbkR0bicSwgjf
          L4xXTjsT2SaZPCKwBvg9kAmUFMUXXXbOzweciuj6xZl4XI4yXlRHIlhVPsKYDbX5pbs6xoXjFRlB
          SX8V12jZBPxrZtPg11eUlGi0cUGaWDMelfuAv8P5hlqUJ2KRsqW9nUtRfeVwhbsVngZaRPjmucgD
          Tg/ngMbh2ZtRrsO1uIYCVoTDqN02qaHyrZr8spcAAhq6HPl4o2MdsKujKVqbW56INi7YItY8h4oB
          vg4UITxSGK9sA/4Qi5SlepqSSLBJ1VsPegAYiuoN/bYCovHKL4nwN7gM7go+bW4esPmyne25gO7O
          Tr8T4T9wG6H/bER/uzZ/+qFPyGxcEBJrrkblIeBe3GbpGyhPAKtjkbK2HqZFYX3lVThzigANfY0C
          3WJS3cJhgt6FK6XHcXpfEwAm0BGKRUbhlrYKHDBqTpx6Q21ueVKN3abGPomLEC3AzQgPA18ujFdm
          9Tw7SYDs8ec0ul8IUJEwIrfgHFp3sPNnbtH5M7cAOpiTXerWUNOg0yZStbnlSUS3q7GPAYtwleVt
          CN8FigrjlQO6VR9SAk0+8UP7hQBEpuCSpJ5gcrdNSMvdNgF1xU1HNAkmB7Z2Obfa3HIP0fc04D0C
          vInbT7gD4TvApO5IUDDqii+AtnNOwMT1/2c4eVaoJwSymrNGZDVnGUEOcvIM0TAv6HW7nGtzy21t
          bvkez/JPuBT5BHBnJxJOe7+iIUUv8sn+qD9WQAjnyQO9GZxUOzqpVlT1Q1ySAnCJtTqsN/fHC8re
          9yzfBlZ2IqHDHDI6j53csFQEBgh8wSdg9zknYEPOre24JdmrYsgYGzHGBhMBuxF3qMoCuYJeevv2
          Zb16ZrygbJdneRD4IyfNocMxfhzqFc0UJBu3QlMoq/rHCbrjbft7N1hKUAk25s04LmgDcBQlIi50
          9moVnUJCNe5Y3u0Ij+B6mgBYmxqlam/EmVlSjXmtf5wguhTY2MuxJaAhn7jXgY8QRijceagpkX8m
          T/XN4UFcdOgIkY8WxivvvG7DkjQJmGswZjbO1DbW5peu7ycC2AS86n/2oD/HUNcHCCRDy0HqgeOI
          3Cxibpm0buHQM3z2Xqv8CNc/aMbPGJMJ74d4+g+oDgKOqPIz6Hs53C1qw9O9QEpfQfUJYC2nb2J4
          AhtEzGwR0wyQ1prVpvAC8DaqQ1CdrdZ8rXhzRVpvnx0vKLOq7LJOwf/BmUMU4Tsq3AI0C7oKeKPf
          CAAY836iCaVKlYcUvue/kTUga0WZh/Bda+w9RkyDEZMC8Ddn1+B6ADtw3vqBlrb0b4bjVUPPgARP
          lR2gvwI69hCHAmmqbEXkp7WRslboh9PipyJSVxkSkSEijBA0CxHEaosG5FAst+EQMudTDZSiusqL
          reHbuG25kbiWWJUqL9aGp21EpMemy+SGpYM9m7oZ4UGcIzQI21H5qQnIS2tzSxN/FgL6gpkVFfJB
          dsaVKnovrujJxrXA1wmsVmRlSpMb6yN3He18Xzj+TMCY0WON1VyEYtxxmXFAmkCDKnNFzNKacOmB
          jns+lwSAvzk7uGkscAeuooziwuJ+nHnsBvYjclRVk+Iqw+G40yWX4cLoUH/8GwLzSOiamqLpnyDt
          c0tAB6LxypFiCAM3onwF1+IeiHOszbjsL4Xr8gzC5fnqKx7HHbBeoZ63qbaw/FNb+Z97AgCKN1cE
          2tvTLlKVSQo5uLd7Ga5tPsBXusUn5ACwC7fJUqvCxtr8smNdyf6LIOBjqJK38fX0UCo5VqxehTAc
          kSGopuNK3OMIe1XtO54mD9ZHZvXYJTqP8ziP8ziPv2b8P0hxYzi2sbIGAAAAJXRFWHRkYXRlOmNy
          ZWF0ZQAyMDIwLTAxLTIwVDIyOjIwOjEyLTA3OjAwxqd0WQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAy
          MC0wMS0yMFQyMjoyMDoxMi0wNzowMLf6zOUAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5v
          cmeb7jwaAAAAAElFTkSuQmCC" />
          </svg>
          
             <h1>Uh-Oh!</h1>
             <p>Slow or no internet connection.</p>
             <p>Please check your internet settings and try again.</p>
             <button type="button" class="btn green-btn add-top-margin" (click)="retry();">Retry</button>
           </div>
        </div>
      </div>
