<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow"  (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> Fund Transactions <!--<span class="pull-right"><img src="assets/images/share-icon.png"
            alt="share"></span>--></h3>
    </div>
  </div>
</div>

<div class="fund-transaction-main-sec full">
  <div class="order-history-bank-amt">
    <div class="col-xs-12">
      <div class="otm-bank-img">
        <img src="assets/images/icici-logo.png" alt="icici-logo">
      </div>
      <div class="otm-bank-and-acc">
        <span class="otm-bank-name">{{order.portfolio.scheme_name}}</span>
        <p class="foliono"><span> Follio No. </span> {{ order.portfolio.folio_no }}</p>
      </div>
    </div>
  </div>

  <div class="nav-units-sec full">
    <div class="col-xs-12">
      <div class="col-xs-4">
        <div class="sip-details-sec-inner">
          <span><i class="fa fa-inr"></i> {{order.portfolio.current_nav}} </span>
          <p>Current NAV</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="sip-details-sec-inner">
          <span><i class="fa fa-inr"></i> {{order.portfolio.avg_price | number : '1.2-2'}} </span>
          <p>Average NAV</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="sip-details-sec-inner">
          <span>{{order.portfolio.total_units}}</span>
          <p>Balanced Units</p>
        </div>
      </div>
    </div>
  </div>

  <div class="fund-transc-returns-sec full">
    <div class="sip-details-sec">
      <div class="sip-details-sec-inner">
        <span><i class="fa fa-inr"></i> {{order.portfolio.invested_amount}} </span>
        <p>Invested</p>
      </div>
      <div class="sip-details-sec-inner">
        <span><i class="fa fa-inr"></i> {{order.portfolio.current_valuation.toFixed(2)}} </span>
        <p>Current Value</p>
      </div>
      <div class="sip-details-sec-inner">
        <div
          [ngClass]="{'fund-trans-pos-status-txt': order.portfolio.pl >= 0 ,'fund-trans-neg-status-txt': order.portfolio.pl < 0}">
          <span><i class="fa fa-inr"></i> {{order.portfolio.pl.toFixed(2)}} </span>
          <p class="returns-txt">Returns</p>
        </div>
      </div>
    </div>
  </div>

  <div class="fund-transc-sec full">
    <p class="text-center fund-transc-txt">Fund Transactions</p>
    <div class="col-xs-12 fund-transc-rw">
      <div class="col-xs-5 bold-txt">Type</div>
      <div class="col-xs-4 bold-txt">Invested</div>
      <div class="col-xs-3 bold-txt">Units</div>
    </div>

    <div class="col-xs-12 fund-transc-rw" *ngFor="let fundDetails of order.transactions">
      <div class="col-xs-5">
        <p class="units-txt">{{fundDetails.order_type}}</p>
        <span class="purchase-date-txt">{{fundDetails.transaction_date | date :'dd MMM yyyy'}} </span>
      </div>
      <div class="col-xs-4">
        <div *ngIf="fundDetails.order_type != 'cancel'">
        <p class="fund-trans-inv-txt"><i class="fa fa-inr"></i> {{fundDetails.amount_while_order}}</p>
        <span class="purchase-date-txt">NAV {{fundDetails.nav_while_allotment}} </span>
      </div>
      </div>
      <div class="col-xs-3">
        <p class="units-txt">{{fundDetails.quantity}}</p>
        <span class="purchase-date-txt">{{fundDetails.order_status}} </span>
      </div>
    </div>
  </div>
</div>

<div class="bottom-fix-btn sip-sell-inv-sec full">
  <button class="btn white-btn" (click)="sellFund(order)">Sell</button>
  <button class="btn green-btn"  (click)="investMore()">Invest More</button>
</div>

<!-- loader html -->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
