<div class="full">
  <div class="tab-slider--nav order-history-tab">
    <ul class="tab-slider--tabs col-xs-12">
      <li class="tab-slider--trigger col-xs-6" [class.active]="viewMode == 'tab1'" rel="tab1"
        (click)="viewMode ='tab1'"> Investment </li>
      <li class="tab-slider--trigger col-xs-6" [class.active]="viewMode == 'tab2'" rel="tab2"
        (click)="viewMode ='tab2'"> Analysis </li>
    </ul>
  </div>
</div>

<div class="tab-slider--container full" [ngSwitch]="viewMode">
  <!----Show div if no investment -->
  <div class="text-center no-invest-div no-invest-sec" *ngIf="noInvest">
    <img src="../assets/images/no-investment-found.svg" alt="no-invest">
    <p>You currently don't have any investments</p>
    <button type="button" class="btn green-btn" [routerLink]="['/home']">Invest Now</button>
  </div>
  <!---- end -->

  <!---- Investment Tab -->
  <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
    <div *ngIf="portfolioDetails.length >= 1">
      <div class="invest-status full">
        <div class="column text-center"><span class="invest-status-txt">INV</span><i class="fa fa-inr"></i><span
            class="invest-amt">{{inv}}</span></div>
        <div class="column text-center"><span class="invest-status-txt">CUR</span><i class="fa fa-inr"
            [ngClass]="{'price-pos': this.cur >= 0 ,'price-neg': this.cur < 0}"></i><span class="invest-amt"
            [ngClass]="{'price-pos': this.cur >= 0 ,'price-neg': this.cur < 0}">{{cur}}</span></div>
        <div class="column text-center"><span class="invest-status-txt">P&L(%)</span><span class="invest-amt"
            [ngClass]="{'price-pos': this.pl >= 0 ,'price-neg': this.pl < 0}">{{pl}}</span></div>
      </div>

      <div class="invest-show full">
        <span>Showing</span>
        <span class="pull-right cur-and-pl" (click)="toggle()" *ngIf="isViewable">Current Value <i
            class="fa fa-angle-down"></i></span>
        <span class="pull-right cur-and-pl" (click)="toggle()" *ngIf="!isViewable">P&L(<i class="fa fa-inr"></i>) <i
            class="fa fa-angle-down"></i></span>
      </div>

      <div class="order-history-background">
        <div class="container">
          <div class="portfolio-main-sec full" *ngIf="this.order">
            <div class="order-history-rw" *ngFor="let order of portfolioDetails" (click)="viewPortfolioDetails(order)">
              <div class="col-xs-12 order-history-bank-amt">
                <div class="col-xs-12">
                  <div class="otm-bank-img">
                    <img src="../assets/images/icici-logo.png" alt="icici-logo">
                  </div>
                  <div class="otm-bank-and-acc invest-tab">
                    <span class="otm-bank-name">{{order.scheme_name}}</span>
                    <span class="sip-amt-history inv-amt"><span class="inv-cur-txt">INV</span><i class="fa fa-inr"><span
                          class="order-history-amt">
                          {{order.invested_amount | number : '1.0-2'}}</span></i></span>
                    <span class="sip-amt-history" *ngIf="isViewable"><span class="inv-cur-txt cur-pl-amt">CUR</span><i
                        class="fa fa-inr"><span class="order-history-amt">
                          {{order.current_valuation | number : '1.0-2'}}</span></i></span>
                    <span class="sip-amt-history" *ngIf="!isViewable"><span class="inv-cur-txt cur-pl-amt">P&L</span><i
                        class="fa fa-inr" [ngClass]="{'price-pos': order.pl >= 0 ,'price-neg': order.pl < 0}"><span
                          class="order-history-amt">
                          {{order.pl | number : '1.0-2'}}</span></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="filter-icon"><img src="../assets/images/filter.png" alt="filter" (click)="showOrHideBankName()"
        *ngIf="showFilter"></span>

    <!--Filter setion-->
    <div class="filter-sec-popup full" *ngIf="showFilterSec">
      <div class="main-form-sec-group full">

        <div class="top-title-sec other-screen-logo-sec full">
          <div class="container">
            <div class="top-title-inner full">
              <h3><span class="title-arrow">
                </span> Sort By <span class="pull-right clear-txt" (click)="cancelBtn($event)">Close</span></h3>
            </div>
          </div>
        </div>

        <div class="mandate-sec">
          <div class="row">
            <div class="col-md-12">
              <div class="col-xs-4 col-md-4 col-lg-3 left-sort-tab">
                <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left">
                  <li [ngClass]="{'active': tab.active}" *ngFor="let tab of tabs">
                    <a (click)="tabChange(tab)">{{tab.name}}</a>
                  </li>
                </ul>
              </div>

              <div class="col-xs-8 col-md-8 col-lg-9 right-sort-tab">
                <div class="tab-content">
                  <div class="tab-pane active"
                    [ngClass]="{'showTab':selectedUserTab == 1, 'hideTab':selectedUserTab != 1}">
                    <!-- Invested tab -->
                    <div class="filter-rw otm-upload-main-sec">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.Inv_High_to_Low"
                            (click)="selectCheckBox(check_box_type.Inv_High_to_Low);">
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">High to Low</span>
                    </div>

                    <div class="filter-rw otm-upload-main-sec">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.Inv_Low_to_High"
                            (click)="selectCheckBox(check_box_type.Inv_Low_to_High);">
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">Low to High</span>
                    </div>
                  </div>

                  <div class="tab-pane active"
                    [ngClass]="{'showTab':selectedUserTab == 2, 'hideTab':selectedUserTab != 2}">
                    <!-- Current tab -->
                    <div class="filter-rw otm-upload-main-sec">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.Cur_High_to_Low"
                            (click)="selectCheckBox(check_box_type.Cur_High_to_Low);">
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">High to Low</span>
                    </div>

                    <div class="filter-rw otm-upload-main-sec">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.Cur_Low_to_High"
                            (click)="selectCheckBox(check_box_type.Cur_Low_to_High);">
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">Low to High</span>
                    </div>
                  </div>

                  <div class="tab-pane active"
                    [ngClass]="{'showTab':selectedUserTab == 3, 'hideTab':selectedUserTab != 3}">
                    <!-- P&L tab -->
                    <div class="filter-rw otm-upload-main-sec">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.Pl_High_to_Low"
                            (click)="selectCheckBox(check_box_type.Pl_High_to_Low);">
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">High to Low</span>
                    </div>

                    <div class="filter-rw otm-upload-main-sec">
                      <span class="nominee-checked">
                        <label class="chekbox-container">
                          <input type="checkbox" [checked]="currentlyChecked === check_box_type.Pl_Low_to_High"
                            (click)="selectCheckBox(check_box_type.Pl_Low_to_High);">
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="hl-txt">Low to High</span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-fix-btn full">
            <button type="button" class="btn green-btn" (click)="applyFilter()">Apply Filter</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!---- Analysis Tab -->
  <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
    <div class="order-history-background" *ngIf="portfolioDetails.length >= 1">
      <div class="container">
        <div class="order-history-details-main-sec full">
          <div class="order-history-rw analysis-sec">
            <div class="col-xs-5">
              <p class="analysis-txt">Investment</p>
              <p class="analysis-amt"><i class="fa fa-inr"></i>&nbsp;{{inv}}</p>
            </div>
            <div class="col-xs-7">
              <p class="analysis-txt">Returns</p>
              <p class="analysis-amt"><i class="fa fa-inr"></i>&nbsp;{{cur}}&nbsp;<span
                  [ngClass]="{'pos-perc': this.pl >= 0 ,'neg-perc': this.pl < 0}">({{pl}}%)</span></p>
            </div>
          </div>

          <!-- <div class="analysis-chart-wrapper full">
            <div class="col-xs-8">
              <div class="fund-sec-rw canvas-rw">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType" [options]="doughnutChartOptions" [colors]="chartColors">
                </canvas>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="fund-sec-rw" *ngFor="let sectors of newFundDetails;">
                <div class="scheme-name-col">
                  <span class="scheme-name-colour blue-box" [style.background]="sectors.color"></span>
                  <span class="scheme-name">{{sectors.scheme_category}}</span>
                </div>
                <div class="scheme-percentage">{{sectors.percent}}%</div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

</div>

<!-- loader html -->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>

<app-footer></app-footer>
