<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow">
          <fa class="chevron" name="chevron-left"></fa>
        </span> Edit SIP </h3>
    </div>
  </div>
</div>

<div class="sip-edit-can-main-sec full">
  <div class="sip-edit-can-main-sec-inner">
    <div class="sip-details-sec sip-edit-sec">
      <div class="sip-top-sec">
        <div class="otm-bank-img">
          <img src="../assets/images/icici-logo.png" alt="icici-logo">
        </div>
        <div class="otm-bank-and-acc">
          <span class="fund-name-txt">Fund Name</span>
          <span class="sip-bank-name">ICICI Prudential Blue Chip</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sip-edit-main-sec full">
  <p class="invest-txt">Investment Amount</p>
  <form [formGroup]="sipAmtForm" (ngSubmit)="editSip()">
    <div class="form-group sip-amount-sec" [ngClass]="{'has-error': submitted  && f.investSipAmt.errors}">
      <input type="text" class="form-control mandate-amt" autocomplete="off" maxlength="8"
        formControlName="investSipAmt" [(ngModel)]="sipamt">
      <span class="help-block" *ngIf="submitted && f.investSipAmt.errors">
        <span *ngIf="f.investSipAmt.errors.required">SIP amount is required</span>
        <span *ngIf="f.investSipAmt.errors.min">Minimum investment amount <i class="fa fa-inr"></i> 500</span>
      </span>
      <img src="../assets/images/rupee-symbol.png" alt="rupee-symbol" class="rupee-sym">
      <p class="max-inv-amt">Minimum Investment amount <i class="fa fa-inr"></i> 500</p>

      <div class="bottom-fix-btn full">
        <button type="submit" class="btn green-btn">Save</button>
      </div>
    </div>

    <p class="invest-txt">Day of Investment</p>
    <div class="form-group mobile-no-sec sip-date-form-rw" [ngClass]="{'has-error': submitted  && f.sipdate.errors}">
      <div class="form-control">
        <input type="text" id="sip-date" formControlName="sipdate" autocomplete="off" [(ngModel)]="sipdate">
        <span class="every-date-label span-col">of every month</span>
        <img src="../assets/images/calendar.png" alt="calendar" class="pull-right calendar-select">
      </div>
      <span class="help-block" *ngIf="submitted && f.sipdate.errors">
        <span *ngIf="f.sipdate.errors.required">SIP Date is required</span>
      </span>
    </div>
    <div class="rel-white-btn full">
      <button type="button" class="btn white-btn">Delete SIP</button>
    </div>
  </form>
</div>
