<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full" (click)="this.location.back();">
      <h3 class="add-flex"><span class="title-arrow">
          <fa class="chevron" name="chevron-left"></fa>
        </span> {{order.scheme_name}} </h3>
    </div>
  </div>
</div>
<div class="order-history-background full">
  <div class="container order-history-details-main-sec">

    <div class="folio-details-sec full">
      <div class="folio-details-first-sec full">
        <div class="col-xs-12">
          <div class="col-xs-8 folio-num">Folio No - <span
              [ngClass]="{'folio-no-txt': order.folio_no === '','folio-no-avail': order.folio_no}">{{order.folio_no === '' ? 'Not alloted' : order.folio_no}}</span>
          </div>
          <div class="col-xs-4 order-type">
            <div class="otm-bank-and-acc">
              <span class="otm-bank-acc-no">{{order.sip_flag === 'N' ? 'LUMPSUM' : 'SIP'}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="folio-details-second-sec full" *ngIf="order.sip_flag != 'N'">
        <div class="col-xs-12 mandate-id">Order Type - <span class="mandate-validity">{{order.order_type}}</span></div>
      </div>

      <!-- <div class="folio-details-second-sec full" *ngIf="order.sip_flag != 'N'">
        <div class="col-xs-12 mandate-id">Mandate Id - <span class="mandate-validity">  </span></div>
      </div> -->

      <div class="folio-details-third-sec full" *ngIf="order.order_type != 'cancel'">
        <div class="col-xs-12">
          <div class="lumpsum-order-history">
            <div class="col-xs-6 text-center invest-amt">
              <div class="table-rw">
                <span class="folio-values"><i class="fa fa-inr"></i> {{order.amount}}</span>
                <span class="table-rw-txt">{{order.order_type === 'redeem' ? 'Redemption Amount' : 'Invested'}}</span>
              </div>
            </div>

            <div class="col-xs-6 text-center">
              <div class="table-rw">
                <span class="folio-values">{{order.nav_while_order}}</span>
                <span class="table-rw-txt">NAV Value</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <span class="fund-prog-txt full">Fund Progress</span>

    <div class="fund-prog-sec">
      <div class="hwt-sec-inner full">
        <div class="hwt-sec-inner-rw full">
          <div class="hwt-sec-inner-img">
            <div class="vertical-hr-checked"></div>
            <span class="nominee-checked">
              <label class="chekbox-container">
                <input type="checkbox" checked="checked" disabled>
                <span class="checkmark"></span>
              </label>
            </span>
          </div>
          <div class="hwt-sec-inner-text">
            <p class="order-placed-txt">Order Placed <span class="pull-right order-id">Order ID
                :&nbsp;{{order.order_id}}</span></p>
            <p class="amc-txt">With AMC</p>
            <p class="order-placed-time">{{order.transaction_date | date :'dd MMM yyyy, h:mm a'}}</p>
          </div>
        </div>
        <div class="hwt-sec-inner-rw full">
          <div class="hwt-sec-inner-img">
            <div *ngIf="order.order_type == 'purchase' || order.order_type == 'additional purchase'">
              <div
                [ngClass]="{'vertical-hr': order.order_status === 'SUCCESS' || order.order_status === 'PENDING','vertical-hr-checked': order.units_allotted}"
                *ngIf="order.order_status === 'PENDING' || order.order_status === 'SUCCESS'"></div>
            </div>

            <span class="nominee-checked">
              <label class="chekbox-container">
                <input type="checkbox" [checked]="order.order_status === 'SUCCESS'" disabled>
                <span class="checkmark"></span>
              </label>
            </span>
          </div>
          <div class="hwt-sec-inner-text">
            <p class="invest-prog" *ngIf="order.order_type == 'purchase' || order.order_type == 'additional purchase'">
              <span class="confirm-txt">Confirmation</span> of Investment</p>
            <p class="invest-prog" *ngIf="order.order_type == 'cancel'"><span class="confirm-txt">Confirmation</span> of
              Cancellation</p>
            <p class="invest-prog" *ngIf="order.order_type == 'redeem'"><span class="confirm-txt">Confirmation</span> of
              Redemption</p>
            <span
              [ngClass]="{'status-in-prog': order.order_status === 'PENDING', 'status-purchased': order.order_status === 'SUCCESS', 'status-failed': order.order_status === 'REJECTED' || order.order_status === 'CANCELLED'}">{{order.order_status}}</span>
            &nbsp;<span class="status-failed" (click)="openOrderHistory(orderHistory)"
              *ngIf="order.order_status === 'REJECTED' "> <img src="../assets/images/failed-status-icon.png"
                alt="failed-icon"></span>

            <div class="order-failed-rst"
              *ngIf=" order.order_status === 'REJECTED' || order.order_status === 'CANCELLED' "
              (click)="restartBuying(order)"><button type="button" class="btn green-btn">Restart Buying Process</button>
            </div>

            <ng-template #orderHistory let-d="dismiss" let-c="close">
              <div class="order-failure">
                <div class="modal-header">
                  <button type="button" class="close" aria-label="Close" (click)="d('Dismiss click')">
                    <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <p class="text-center conf-sip-amt-txt">Reason for failure</p>
                  <p class="text-center order-fail-para">Tax saving with lowest lock-in period of 3 years & better
                    returns
                    potential, these funds are the most ideal first investment for everyone.</p>
                </div>
              </div>
            </ng-template>

          </div>
        </div>
        <div class="hwt-sec-inner-rw full hwt-sec-inner-rw-last">
          <div *ngIf="order.order_type == 'purchase' || order.order_type == 'additional purchase'">
            <div *ngIf="order.order_status === 'SUCCESS' || order.order_status === 'PENDING'">
              <div class="hwt-sec-inner-img">
                <span class="nominee-checked">
                  <label class="chekbox-container">
                    <input type="checkbox" [checked]="order.units_allotted" disabled>
                    <span class="checkmark"></span>
                  </label>
                </span>
              </div>
              <div class="hwt-sec-inner-text">
                <p class="invest-prog"><span class="confirm-txt">Units</span> alloted</p>
                <p class="amc-txt">{{order.units_allotted}} </p>
                <p class="order-placed-time"> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <span class="fund-prog-txt full">For Help & Queries</span>

    <div class="fund-prog-sec">
      <span class="support-staff-txt">Contact our support staff </span><span class="pull-right"><i
          class="fa fa-angle-right"></i></span>
    </div> -->

  </div>
</div>

<!-- loader html -->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
